<h1>QEQ</h1>
<div class="modal-header pb-0 border-bottom-0">
  <span class="modal-title font-sifonn" style="font-size:20px">Create Notification Edit Notification</span>
</div>
<div class="modal-body">

  @if (Model.Id != Guid.Empty)
  {
  @if (!Model.IsPrivate | User.IsInRole("ADMIN") | User.IsInRole("MANAGER"))
  {
  <input hidden id="NotificationId" value="@Model.Id" />
  <input id="emplId" type="hidden" value="@Model.EmployeeId" />
  <div class="notification onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox regular-checkbox" id="myonoffswitch" @(Model.IsActive ? "checked" : "")>
    <label class="onoffswitch-label" for="myonoffswitch">
      <span class="font-sifonn-14 onoffswitch-inner"></span>
      <span class="font-sifonn-14 onoffswitch-switch"></span>
    </label>
  </div>
  @if (User.IsInRole("ADMIN") | User.IsInRole("MANAGER"))
  {
  <div class="notification onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox regular-checkbox" id="publiconoffswitch" @(Model.IsPrivate ? "checked" : "")>
    <label class="onoffswitch-label" for="publiconoffswitch">
      <span class="font-sifonn-14 publiconoffswitch onoffswitch-inner"></span>
      <span class="font-sifonn-14 publiconoffswitch onoffswitch-switch"></span>
    </label>
  </div>
  }
  <input required name="Title" id="NotificationHeadLine" placeholder="Head line" type="text" class="mb-2 form-control talent-input-bordered" value="@Model?.Title" />
  @*<div class="mb-2">
  <span>Days before reminder</span>
  <input type="number" min="1" required name="DayCount" id="NotificationDayCount" placeholder="days" class="form-control talent-input-bordered" value="@(Model.IsRepeatable?"":(Model.ExpirationTime.Value - Model.NotifyTime.Value).TotalDays.ToString())" />
</div>*@
  <details id="spoiler">
    <summary>Emails</summary>
    @if ((Model.CreatorId == Html.GetUserInSystemGuid()) | User.IsInRole("ADMIN") | User.IsInRole("MANAGER"))
    {
    <input data-id="null" type="email" required id="NotifyEmail" name="MailAddress" class="mb-2 talent-input-bordered form-control" style="width:90%; display:inline;" z-index=999999999999 />
    <img onclick="addField()" src="/images/add.svg" style="cursor:pointer" />
    }
    <div style="max-height:200px; overflow-y:auto;" id="emailInputs" class="mb-2">

    </div>
  </details>

  <div>
    <span>Notify me</span>
    <label class="talent-checkbox">
      <input value="true" type="checkbox" name="IsActive" id="NotifyCheckBox" @(Model.IsSending ? "checked" : "") />
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="d-block">
    <span>Renewable</span>
    <label class="talent-checkbox">
      <input value="true" type="checkbox" id="RenewCheckBox" @(Model.IsRepeatable ? "checked" : "") />
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="mb-2" id="RenewFields">
    Period
    <input required type="number" style="padding-left:.7em; width:30%; display:inline-flex" autocomplete="off" id="interval" data-position="right top" class="form-control talent-input-bordered" value="@Model.RepeatableInterval" />
    <select class="form-control talent-input-bordered d-inline-flex" style="width:30%" required id="intervalType" value="@Model.IntervalType">
      <option value="1">Day(s)</option>
      <option value="2">Month(s)</option>
      <option value="3">Year(s)</option>
    </select>
    <div class="mb-2">
      <span>Remind me</span>
      <input type="text" required style="padding-left:.7em;" id="reminder" class="mb-2 form-control talent-input-bordered reminder" value="@(Model.IsRepeatable?Model.NotifyTime.Value.ToString(@"MM\/dd\/yyyy"):"")" />
    </div>
  </div>
  <div class="mb-2 reminder-days">
    <span>Days before reminder</span>
    <input type="number" min="1" required name="DayCount" id="NotificationDayCount" placeholder="days" class="mb-2 form-control talent-input-bordered reminder" value="@((Model.IsRepeatable | Model.ExpirationTime==null)?"":(Model.ExpirationTime.Value - Model.NotifyTime.Value).TotalDays.ToString())" />
  </div>
  <div class="mb-2">
    <strong>Expiration time</strong>
    <label for="datepicker" class="talent-datepicker">
      <input required name="ExpirationTime" type="text" style="padding-left:.7em;" autocomplete="off" id="expirationTimeId" data-position="right top" class="form-control talent-input-bordered" value="@(Model.ExpirationTime!=null?Model?.ExpirationTime.Value.ToString(@"MM\/dd\/yyyy"):"")" />

      <i class="icon-calendar-black svg-image"></i>
    </label>

  </div>
  <div class="mb-2">
    <textarea name="Description" style="height:200px;" id="NotificationTextArea">@Model?.Description</textarea>
  </div>
  }
  }
  else
  {
  <input hidden id="NotificationId" value="@Model.Id" />
  @if (User.IsInRole("ADMIN") | User.IsInRole("MANAGER"))
  {
  <div class="notification onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox regular-checkbox" checked id="publiconoffswitch">
    <label class="onoffswitch-label" for="publiconoffswitch">
      <span class="font-sifonn-14 publiconoffswitch onoffswitch-inner"></span>
      <span class="font-sifonn-14 publiconoffswitch onoffswitch-switch"></span>
    </label>
  </div>
  }
  <input required name="Title" id="NotificationHeadLine" placeholder="Head line" type="text" class="mb-2 form-control talent-input-bordered" />
  <details id="spoiler">
    <summary>Emails</summary>
    <input data-id="null" type="email" value="@User.Identity.Name" required id="NotifyEmail" name="MailAddress" class="mb-2 talent-input-bordered form-control" style="width:90%; display:inline;" z-index=999999999999 />
    <img class="cursor-pointer" onclick="addField()" src="/images/add.svg" />
    <div style="max-height:200px; overflow-y:auto;" id="emailInputs" class="mb-2"></div>
  </details>
  <div>
    <span>Notify me</span>
    <label class="talent-checkbox">
      <input value="true" type="checkbox" name="IsActive" id="NotifyCheckBox" checked />
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="d-block">
    <span>Renewable</span>
    <label class="talent-checkbox">
      <input value="true" type="checkbox" id="RenewCheckBox" />
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="mb-2" id="RenewFields">
    Period
    <input required type="number" style="padding-left:.7em; width:30%; display:inline-flex" autocomplete="off" id="interval" data-position="right top" class="form-control talent-input-bordered" />
    <select class="form-control talent-input-bordered" style="display:inline-flex; width:30%" required id="intervalType">
      <option value="1">Day(s)</option>
      <option value="2">Month(s)</option>
      <option value="3">Year(s)</option>
    </select>
    <div class="mb-2">
      <span>Remind me</span>
      <input type="text" required style="padding-left:.7em;" id="reminder" class="mb-2 form-control talent-input-bordered reminder" />
    </div>
  </div>
  <div class="mb-2 reminder-days">
    <span>Days before reminder</span>
    <input type="number" min="1" required name="DayCount" id="NotificationDayCount" placeholder="days" class="mb-2 form-control talent-input-bordered reminder" />
  </div>
  <div class="mb-2">
    <strong>Expiration time</strong>
    <label for="datepicker" class="talent-datepicker">
      <input required name="ExpirationTime" type="text" style="padding-left:.7em;" autocomplete="off" id="expirationTimeId" data-position="right top" class="form-control talent-input-bordered" />

      <i class="icon-calendar-black svg-image"></i>
    </label>
  </div>

  <div class="mb-2">
    <textarea name="Description" style="height:200px;" id="NotificationTextArea"></textarea>
  </div>
  }
  @*<input hidden id="tempEmailGuid" />*@
</div>
<div class="modal-footer border-top-0">
  <div class="d-flex flex-row">
    <input data-dismiss="modal" class="font-sifonn modal-btns" type="button" value="Cancel" />
    @if (Model.Id == Guid.Empty | Model.CreatorId == Html.GetUserInSystemGuid() | User.IsInRole("ADMIN") | User.IsInRole("MANAGER"))
    {
    if (Model.IsRepeatable & Model.NotifyTime < DateTime.Now)
    {
    <input type="button" class="font-sifonn modal-btns ml-3" id="AcceptNotification" onclick="AcceptNotification('@Model.Id')" value="Accept" />
    }
    <input type="button" id="SaveNotification" class="font-sifonn modal-btns ml-3" value="Save" />
    }
  </div>
</div>
