
<div>
    <div class="input-group mb-2 ">
        <input name="name" [(ngModel)]="filter.Name" type="search" class="form-control talent-input search-field ml-0" data-key="Name" placeholder="Search" data-role="tagsinput">
        <div class="input-group-append">
        <input class="talent-btn ml-1" type="submit"  style="width:100px;height:25px;" value="Search" (click)="FilterEmployees(1)"/>
        </div>
        </div>
        <div id="search-toggle">
          <div *ngIf="AdvancedSearch == true" (click)="AdvancedSearchToggle()">
            <div class="d-flex flex-row align-items-center cursor-pointer">
              <div class="settings-arrow-red" style="transform:rotate(-135deg)"></div>
              <span style="color:#EF0D33">Hide advanced settings</span>
            </div>
          </div>
          <div *ngIf="AdvancedSearch == false" (click)="AdvancedSearchToggle()">
            <div class="d-flex flex-row align-items-center cursor-pointer">
              <div class="settings-arrow-red" style="transform:rotate(45deg)"></div>
              <span style="color:#EF0D33">Show advanced settings</span>
            </div>
          </div>
        </div>
    <hr class="mt-0 mb-2" />
        <div id="search-block" *ngIf="AdvancedSearch == true">
          <div class="d-flex">
            <span class="p-2">Position:</span>
            <select class="form-control search-field" [(ngModel)]="filter.PositionId">
              <option>Select position</option>
              <option *ngFor="let position of Positions" value="{{position.id}}">{{position.name}}</option>
            </select>
          </div>
          <!--<div class="d-flex">
            <span class="p-2">Skills:</span>
            <select aria-multiselectable="true" class="form-control search-field">
              <option *ngFor="let skill of Skills" value="{{skill.id}}">{{skill.name}}</option>
            </select>
          </div>-->
          <div class="d-flex">
            <span class="p-2">Skills:</span>
            <index-container-skills-dropdown-component style="width: 100%" [selectedSkillsList]="Skills"></index-container-skills-dropdown-component>

          </div>
        <div class="d-flex flex-row align-items-center mb-2">
            <label id="wActivitySearch" class="talent-checkbox m-0 mr-2">
                <input type="checkbox" id="employeesCheckbox"  checked [(ngModel)]="filter.FreeEmployeesOnly">
                <span class="checkmark"></span>
            </label>
            <span>Free employees only</span>
        </div>
        <div id="searchByDate" class="mb-2" *ngIf="filter.FreeEmployeesOnly == false">
            <div>
                <div id="magicSkills"></div>
                <div class="d-inline-flex">
                    <strong>Start date</strong>
                    <label  class="talent-datepicker date-range">
                        <i class="icon-calendar-black svg-image"></i>
                        <input type="text" class="datepicker" autocomplete="off" data-key="WorkStartRange" placeholder="MM/DD/YYYY" value="" [(ngModel)]="filter.WorkStartRange">
                    </label>
                </div>
                <div class="d-inline-flex">
                    <strong>Finish date</strong>
                    <label  class="talent-datepicker date-range">
                        <i class="icon-calendar-black svg-image"></i>
                        <input type="text" class="datepicker" autocomplete="off" data-key="WorkEndRange" placeholder="MM/DD/YYYY" value="" [(ngModel)]="filter.WorkEndRange">
                    </label>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row align-items-center mb-2">
            <label id="activeEmployeesSearch" class="talent-checkbox m-0 mr-2">
                <input type="checkbox" id="activeEmployeesBox" checked [(ngModel)]="filter.IsActive">
                <span class="checkmark"></span>
            </label>
            <span>Active employees only</span>
        </div>
  </div>
  <div id="tableView">
    <input hidden id="OrderByField" value="lname" />
    <div class="" style="min-height:500px">
      <table id="target-table" class="Talent-table w-100">
        <thead class="font-roboto-16">
        <tr>
          <th class="lastNameCol sortable-row accept" *ngIf="headerConfig.LastName == true">
            <div class=" d-flex flex-column">
              <div class="d-flex justify-content-between">
                <span class="drag-handler">Last name</span>
                <div class="updown-icon svg-image" id="lname"></div>
              </div>
              <div>
                <input placeholder="last name" class="talent-input-bordered w-100 search-field" id='lNameSearch' data-key="LastName" autocomplete="off" type="text" (keyup)="ChangePage(1)" [(ngModel)]="filter.LastName">
              </div>
            </div>
          </th>
          <th class="firstNameCol sortable-row accept" *ngIf="headerConfig.FirstName == true">
            <div class=" d-flex flex-column">
              <div class="d-flex justify-content-between">
                <span class="drag-handler">Name</span>
                <div class="updown-icon svg-image" id="fname"></div>
              </div>
              <div>
                <input placeholder="first name" class="talent-input-bordered w-100 search-field" id='fNameSearch' data-key="FirstName" autocomplete="off" type="text" (keyup)="ChangePage(1)" [(ngModel)]="filter.FirstName">
              </div>
            </div>
          </th>
          <th class="bDayCol sortable-row accept" *ngIf="headerConfig.BirthDay == true">
            <div class=" d-flex flex-column">
              <div class="d-flex justify-content-between">
                <span class="drag-handler">Birth day</span>
                <div class="updown-icon svg-image" id="dbay"></div>
              </div>
              <div>
                <label  class="talent-datepicker">
                  <i class="icon-calendar-black svg-image"></i>
                  <input type="text" class="datepicker search-field" autocomplete="off" data-key="DateOfBirth" placeholder="MM/DD/YYYY" (change)="ChangePage(1)" [(ngModel)]="filter.DateOfBirth">
                </label>
              </div>

            </div>
          </th>
          <th class="userNameCol sortable-row accept" *ngIf="headerConfig.UserName == true">
            <div class=" d-flex flex-column">
              <div class="d-flex justify-content-between">
                <span class="drag-handler">EMail</span>
                <div class="updown-icon svg-image" id="email"></div>
              </div>
              <div>
                <input placeholder="e-mail" class="talent-input-bordered w-100 search-field" id='EmailSearch' data-key="UserName" type="text" (keyup)="ChangePage(1)" [(ngModel)]="filter.UserName">
              </div>
            </div>
          </th>
          <th class="wsDateCol sortable-row accept" *ngIf="headerConfig.WorkStart == true">
            <div class=" d-flex flex-column">
              <div class="d-flex justify-content-between">
                <span class="drag-handler">Work start</span>
                <div class="updown-icon svg-image" id="start"></div>
              </div>
              <div>
                <label for="wsDateSearch" class="talent-datepicker">
                  <i class="icon-calendar-black svg-image"></i>
                  <input type="text" class="datepicker search-field" autocomplete="off" id='wsDateSearch' data-key="WorkStartDate" value="" placeholder="MM/DD/YYYY" (change)="ChangePage(1)" [(ngModel)]="filter.WorkStartDate">
                </label>
              </div>

            </div>
          </th>
          <th class="managerCol sortable-row accept align-content-end" *ngIf="headerConfig.Manager == true">
            <div class="d-flex flex-column">
              <div class="d-flex justify-content-between">
                <span class="text-center drag-handler">Manager</span>
                <div class="updown-icon svg-image" id="manager"></div>
              </div>
              <div class="manager-ms">
                <select [(ngModel)]="filter.ManagerId" (change)="ChangePage(1)">
                  <option value="">Choose manager</option>
                  <option *ngFor="let manager of Managers" value="{{manager.id}}" [selected]="manager.Id==0">{{manager.userName}}</option>
                </select>
                <div id="managerSuggestList" ></div> <!-- todo [(ngModel)]="filter.ManagerId"-->
              </div>
            </div>
          </th>
          <th style="max-width:80px;width:80px" class="p-0">
            <div class="d-flex flex-row justify-content-between align-items-center p-2">
              <div style="padding:3px;">
                <div id="settings-btn" (click)="TableSettingsPopup()" aria-haspopup="true" class="svg-image settings-img-black"></div>
                <div class="talent-table-settings" id="table-dd-menu" *ngIf="TableSettings==true">
                  <div class="talent-dropdown-item">
                    <label class="talent-checkbox regular-checkbox table-configurator">
                      <input type="checkbox" [(ngModel)]="headerConfig.LastName">
                      <span class="checkmark"></span>
                    </label>
                    <div class="talent-dropdown-item-text">
                      <span>Last name</span>
                    </div>
                  </div>
                  <div class="talent-dropdown-item">
                    <label class="talent-checkbox regular-checkbox table-configurator">
                      <input type="checkbox" [(ngModel)]="headerConfig.FirstName">
                      <span class="checkmark"></span>
                    </label>
                    <div class="talent-dropdown-item-text">
                      <span>First name</span>
                    </div>
                  </div>
                  <div class="talent-dropdown-item">
                    <label class="talent-checkbox regular-checkbox table-configurator">
                      <input type="checkbox" [(ngModel)]="headerConfig.BirthDay">
                      <span class="checkmark"></span>
                    </label>
                    <div class="talent-dropdown-item-text">
                      <span>Birth day</span>
                    </div>
                  </div>
                  <div class="talent-dropdown-item">
                    <label class="talent-checkbox regular-checkbox table-configurator">
                      <input type="checkbox" [(ngModel)]="headerConfig.UserName">
                      <span class="checkmark"></span>
                    </label>
                    <div class="talent-dropdown-item-text">
                      <span>EMail</span>
                    </div>
                  </div>
                  <div class="talent-dropdown-item">
                    <label class="talent-checkbox regular-checkbox table-configurator">
                      <input type="checkbox" [(ngModel)]="headerConfig.WorkStart">
                      <span class="checkmark"></span>
                    </label>
                    <div class="talent-dropdown-item-text">
                      <span>Work start</span>
                    </div>
                  </div>
                  <div class="talent-dropdown-item">
                    <label class="talent-checkbox regular-checkbox table-configurator">
                      <input type="checkbox" [(ngModel)]="headerConfig.Manager">
                      <span class="checkmark"></span>
                    </label>
                    <div class="talent-dropdown-item-text">
                      <span>Manager</span>
                    </div>
                  </div>
                </div>
              </div>
              <div style="padding:3px;">
                <div class="icon-reset-black svg-image"></div>
              </div>
            </div>
          </th>
        </tr>
        </thead>
        <tbody id="tableContent">
        <tr *ngFor="let employee of Employees" (click)="EmployeePage(employee.id)">
          <td class="lastNameCol" *ngIf="headerConfig.LastName == true">{{ employee.lastName }}</td>
          <td class="firstNameCol" *ngIf="headerConfig.FirstName == true">{{employee.firstName}}</td>
          <td class="bDayCol" *ngIf="headerConfig.BirthDay == true">{{employee.dateOfBirth | date:"MM/dd/yyyy"}}</td>
          <td class="userNameCol" *ngIf="headerConfig.UserName == true">{{employee.userName}}</td>
          <td class="wsDateCol" *ngIf="headerConfig.WorkStart == true">{{employee.workStartDate | date:"MM/dd/yyyy"}}</td>
          <td class="managerCol" *ngIf="headerConfig.Manager == true">{{employee.managerUserName}}</td>
          <td class="addToProjectCol"><div class="svg-image  mt-1"></div></td>
        </tr>
        </tbody>
      </table>
      <div class="pagination font-sifonn-16" id="pagesList" >
        <a *ngIf="paginator.length > 0" href="#" class="pageBtn" (click)="FilterEmployees(CurrentPage-1)"><</a>
        <ng-template ngFor let-page [ngForOf]="paginator">
          <a *ngIf="page !== 0; else elseBlock" [ngClass]="{active:isCurrentPage(page)}" (click)="FilterEmployees(page)" href="#" class="pageBtn">{{page}}</a>
          <ng-template #elseBlock>
            <a href="#" class="pageBtn">...</a>
          </ng-template>
        </ng-template>

        <a *ngIf="paginator.length > 0" href="#" class="pageBtn" (click)="FilterEmployees(CurrentPage+1)">></a>
      </div>
    </div>
  </div>
</div>

