<script src="../../../../../assets/js/Pages/EmployeeData/NavBarTabs.js"></script>
<script src="../../../../../assets/js/Pages/EmployeeData/DropZone.js"></script>

<div class="mb-4">
  <div class="profile-top-container">
    <input [value]="Employee.id" hidden id="HiddenEmployeeId"/>
    <span class="font-sifonn">{{Employee.firstName}} {{Employee.lastName}}</span>
  </div>
  <div class="profile-container">
    <div class="profile-item profile-item-image">
      <img id="profileImg" [src]="Employee.avatar !== '' ? Employee.avatar : 'assets/images/unknown-512.png'"/>
    </div>
    <div class="profile-item profile-info-container">
      <div class="profile-info">
        <span class="font-sifonn-16">General information notes</span>
        <ul>
          <li>{{Employee.dateOfBirth | date: 'MM/dd/yyyy'}}</li>
          <!--(@(DateTime.Now.Year - Model.EmployeeViewModel.DateOfBirth.Year) years)-->
          <li>In Elinext since {{Employee.workStartDate | date:'MM/dd/yyyy'}}</li>
          <li>{{Employee.userName}}</li>
          <li class="d-flex">
            <span class="ml-0" id="userDataFieldsPosition" style="text-transform: none">{{Employee.positionName != null ? Employee.positionName : "NoPosition"}}</span>
            <!--@Html.DropDownListFor(s => s.EmployeeId, Model.PositionDropDownList as SelectList, new { @id = "hiddendropdownforPosition", @class = "ml-1 hidden-at-ready" })-->
            <img class="ml-1 cursor-pointer" id="Penimageforeditposition" onclick="TogglePositionButtons()"
                 src="assets/images/Edit_Icon.svg" style="height: 15px;"/>
            <img class="ml-1 cursor-pointer hidden-at-ready" id="Saveimageforeditposition"
                 src="assets/images/ic_save.svg"
                 style="height: 20px;">
          </li>
          <li class="d-flex">
            <span class="ml-0" id="userDataFieldsdirection" style="text-transform: none">{{Employee.directionPosition != null ? Employee.directionPosition : "No direction"}} </span>
            <!--@Html.DropDownListFor(s => s.EmployeeViewModel.DirectionPosition, new DropDownLists().GetDirections(), new { @id = "hiddendropdownfordirection", @class = "ml-1 hidden-at-ready" })-->
            <img class="ml-1 cursor-pointer" id="Penimageforeditdirection" onclick="ToggleDirectionButtons()"
                 src="assets/images/Edit_Icon.svg" style="height: 15px;"/>
            <img class="ml-1 cursor-pointer hidden-at-ready" id="Saveimageforeditdirection"
                 src="assets/images/ic_save.svg"
                 style="height: 20px; ">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="mb-3">
    <nav class="mynav">
      <ul class="nav mb-0 font-sifonn-16" role="tablist">
        <li class="nav-item">
          <a (click)="ChangeTab(0)" class="active" data-toggle="tab" href="#Notes" id="nav-tab-notes">
            <div class="mb-2">NOTES</div>
            <div class="action-element"></div>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="ChangeTab(1)" data-toggle="tab" href="#Skills" id="nav-tab-skills" target="_blank">
            <div class="mb-2">SKILLS</div>
            <div class="action-element"></div>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="ChangeTab(2)" data-toggle="tab" href="#Goals" id="nav-tab-goals">
            <div class="mb-2">GOALS</div>
            <div class="action-element"></div>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="ChangeTab(3)" data-toggle="tab" href="#WorkActivity" id="nav-tab-projects">
            <div class="mb-2">PROJECTS</div>
            <div class="action-element"></div>
          </a>
        </li>

        <li class="nav-item">
          <a (click)="ChangeTab(4)" data-toggle="tab" href="#DragAndDropDocuments" id="nav-tab-documents">
            <div class="mb-2">DOCUMENTS</div>
            <div class="action-element"></div>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="ChangeTab(5)" data-toggle="tab" href="#Notifications" id="nav-tab-notifications">
            <div class="mb-2">NOTIFICATIONS</div>
            <div class="action-element"></div>
          </a>
        </li>
      </ul>
    </nav>
    <hr class="m-0 p-0 "/>
  </div>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="Notes">
      <button class="talent-btn mb-2 float-right" onclick="ShowNoteModal('@Guid.Empty')">Add Note</button>
      <div *ngIf="TabNumber==0" id="EmployeeNotes">
        <app-notes-table [EmployeeId]="EmployeeId"></app-notes-table>
      </div>
    </div>
    <div class="tab-pane fade" id="Skills">
      <button class="talent-btn mb-2 float-right" onclick="ShowSkillModal('@Guid.Empty')">Add skill</button>
      <div *ngIf="TabNumber==1" id="EmployeeSkills">
        <app-skills-table [EmployeeId]="EmployeeId"></app-skills-table>
      </div>
    </div>
    <div class="tab-pane fade" id="Goals">
      <button class="talent-btn mb-2 float-right" onclick="ShowGoalModal('@Guid.Empty')">Add goal</button>
      <div *ngIf="TabNumber==2" id="EmployeeGoals">
        <app-goals-table [EmployeeId]="EmployeeId"></app-goals-table>
      </div>
    </div>
    <div class="tab-pane fade" id="WorkActivity">
      <button class="talent-btn mb-2 float-right" onclick="ShowEmployeeProjectModal('@Guid.Empty')">Add project</button>
      <div *ngIf="TabNumber==3" id="EmployeeProjects">
        <app-projects-table [EmployeeId]="EmployeeId"></app-projects-table>
      </div>
    </div>
    <div class="tab-pane fade" id="DragAndDropDocuments">
      <button class="talent-btn mb-2 float-right" onclick="ShowDocumentModal('@(Guid.Empty)')">Add document</button>
      <div *ngIf="TabNumber==4" id="EmployeeUploads">
        <app-documents-table [EmployeeId]="EmployeeId"></app-documents-table>
      </div>
    </div>
    <div *ngIf="TabNumber==5" class="tab-pane fade" id="Notifications">
      <button class="talent-btn mb-2 float-right" onclick="ShowNotificationModal('@Guid.Empty')">Add notification
      </button>
      <div id="NotificationsTable">
        <app-notifications-table [EmployeeId]="EmployeeId"></app-notifications-table>
      </div>
    </div>
  </div>
</div>

<button (click)="OpenModal()" class="btn btn-lg btn-outline-primary">Launch demo modal</button>



