﻿details[open] div {
    animation: spoiler 1s;
}

@keyframes spoiler {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.input-email {
    width: 100%;
}

.input-email input {
    width: 90%;
}
