﻿/*.mynav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0
}

    .mynav ul li .active .action-element {
        background-color: #EF0D33;
        width: 100%
    }

    .mynav ul li .active {
        color: #EF0D33
    }

.action-element {
    height: 5px;
    border-radius: 5px 5px 0 0;
    width: 0;
    transition: .4s
}

.mynav ul li:hover {
    color: #EF0D33
}

.mynav a {
    display: block;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    padding: 7px 15px;
    position: relative
}

.target {
    position: absolute;
    border-bottom: 4px solid transparent;
    z-employees: -1;
    transform: translateX(-60px)
}

.mynav a, .target {
    transition: all .35s ease-in-out
}*/
