﻿/*.talent-input {
    background: #ffffff;
    border: none;
    margin-left: 5px;
    font-family: "roboto";
    padding: 2px;
    font-size: 14px;
    border-radius: 1px;
    height: 35px;
}

.talent-input-bordered {
    background: #ffffff;
    border: 1px solid #E1E1E1;
    font-family: "roboto";
    padding: 2px;
    font-size: 12px;
    border-radius: 1px;
    height: 35px;
}*/
