﻿/*.talent-checkbox {
    display: inline-block;
    cursor: pointer
}

.checkmark {
    border: 2px solid #000
}

.talent-checkbox input {
    display: none
}

.talent-checkbox .checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    background: #DADADA;
    border-color: rgba(0,0,0,0.54);
    border-radius: 3px
}

.talent-checkbox input:checked + .checkmark {
    background: #EF0D33;
    border: none;
    width: 20px;
    height: 20px
}

.talent-checkbox:hover .checkmark {
    background-color: #ccc
}

.talent-checkbox input:checked + .checkmark:after {
    content: "\2713";
    font-size: 18px;
    font-weight: 900;
    left: 15%;
    top: -15%;
    position: absolute;
    color: #DADADA
}*/
