﻿.talent-datepicker {
    background-color: #FFFFFF;
    display: block;
    color: #B0BEC5;
    border: 1px solid #E1E1E1;
    padding: 2.5px;
    margin: 0;
    height: 25px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

    .talent-datepicker i {
        height: 15px;
        width: 15px;
    }

    .talent-datepicker input {
        cursor: pointer;
        border: none;
        background-color: transparent;
        padding: 0;
        font-size: 1rem;
        color: #212529;
        width: 90%;
    }

        .talent-datepicker input:focus {
            outline: none;
        }

#ui-datepicker-div {
    display: none;
    background: #FFFFFF;
    padding: 5px;
    border-radius: 0;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border: none;
}

.ui-datepicker-today {
    background-color: #F2C94C;
}

.ui-datepicker-header {
    border: none;
    background-color: #FFFFFF;
}

.ui-widget-header {
    background: none;
}

.ui-datepicker-title {
    text-align: center;
    font-family: Sifonn Pro;
    font-size: 14px;
    color: #555555;
}

.ui-datepicker-calendar table {
    font-family: Sifonn Pro;
}

.ui-datepicker-calendar thead th {
    padding: 4px 0;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #EF0D33;
}

.ui-datepicker-header a.ui-datepicker-prev {
    left: 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='7' height='13' viewBox='0 0 7 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.999999 12L6 6.5L1 0.999999' stroke='%232C333F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 0.5rem;
    background-position: 50%;
    transform: rotate(180deg);
}

.ui-datepicker-header a.ui-datepicker-next {
    right: 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='7' height='13' viewBox='0 0 7 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.999999 12L6 6.5L1 0.999999' stroke='%232C333F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 50%;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: none;
}

.ui-datepicker-calendar tbody td {
    width: 30px;
    font-family: Sifonn Pro;
    text-align: center;
    padding: 0;
}

    .ui-datepicker-calendar tbody td a {
        display: block;
        text-align: center;
        line-height: 22px;
        transition: 0.3s all;
        color: #546E7A;
        font-size: 12px;
        text-decoration: none;
    }

    .ui-datepicker-calendar tbody td:hover {
        transition: 0.3s;
        background-color: #EF0D33;
    }

    .ui-datepicker-calendar tbody td a.ui-state-default {
        background: none;
        border: none;
    }

    .ui-datepicker-calendar tbody td a.ui-state-active {
        background: none;
        border: none;
        background-color: #EF0D33;
        color: white;
    }
