﻿/*.onoffswitch {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.onoffswitch-checkbox {
    display: none
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25)
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin .3s ease-in 0s;
}

    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 30px;
        padding: 0;
        line-height: 30px;
        font-size: 14px;
        color: #fff;
        font-weight: 700;
        box-sizing: border-box
    }

    .onoffswitch-inner:before {
        content: "Table";
        padding-left: 10px;
        letter-spacing: 2px;
        background-color: #F2C94C;
        color: #FFF
    }

    .onoffswitch-inner:after {
        content: "Grid";
        letter-spacing: 2px;
        padding-right: 10px;
        background-color: #EF0D33;
        color: #FFF;
        text-align: right
    }

.onoffswitch-switch {
    display: block;
    width: 20px;
    height: 20px;
    margin: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border-radius: 70%;
    transition: all .3s ease-in 0s
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0
}

.notification .onoffswitch-inner:before {
    content: "Active"
}

.notification .onoffswitch-inner:after {
    content: "Inactive"
}
.publiconoffswitch.onoffswitch-inner:before {
    content: "Private"
}

.publiconoffswitch.onoffswitch-inner:after {
    content: "Public"
}

.notification.onoffswitch {
    width: 110px
}

.notification .onoffswitch-switch {
    right: 80px
}*/
