﻿/*.Talent-table thead th {
    background-color: #fff
}

.Talent-table th {
    border-right-style: solid;
    border-right-color: #DFDFDF;
    border-right-width: 1px
}

.Talent-table thead {
    background-color: #FFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2),0 2px 2px rgba(0,0,0,0.12),0 0 2px rgba(0,0,0,0.14);
    cursor: pointer
}

.Talent-table tbody tr:hover {
    background-color: #FFF;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15),-4px 0 0 0 rgba(242,200,76,1);
    cursor: pointer
}

.Talent-table tbody tr {
    transition: .2s;
    cursor: pointer;
    height: 30px
}

.Talent-table tbody td {
    text-align: left
}

.CheckBox-container {
    width: 2.3%
}

.Talent-table th:hover div.updown-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='7' height='11' viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 0L0 3.5H7L3.5 0Z' fill='%23EF0D33'/%3E%3Cpath d='M3.5 10.5L7 7L3.0598e-07 7L3.5 10.5Z' fill='%23EF0D33'/%3E%3C/svg%3E");
    width: 12px;
    height: 14px
}

.Talent-table th:hover {
    color: red
}

.Talent-table th {
    transition: .2s;
    padding: 10px;
    width: auto;
    height: 60px
}*/
