<div class="mb-2">
  <div *ngFor="let notification of Notifications" class="talent-row row col-md-12 m-0 mb-1 p-0 notification.id" data-id="notification.id" style="height:40px">
    <div *ngIf="!notification.isPrivate" class=" col-1 mr-2 row">
                <span class="font-slim p-2">
                    {{notification.expirationTime | date:'MM/dd/yyyy'}}
                </span>
    </div>
    <div *ngIf="notification.isPrivate" class=" col-1 mr-2 row">
      <div class="col-4 p-2">
        <div class="svg-image icon-lock"></div>
      </div>
      <div class="col-8 p-2">
                    <span class="font-slim">
                        {{notification.expirationTime | date:'MM/dd/yyyy'}}
                    </span>
      </div>
    </div>
    <div (click)="OpenModal(notification)" class="cut-text col-2 p-2 m-0">
      <strong *ngIf="CheckDate(notification)" style="color: red;">!</strong>
      {{notification.title}}
    </div>
    <div class="cut-text col-8 p-2 m-0 raw">
      {{notification.description}}
    </div>
    <div class="col-1 row m-0 p-0 edit-delete-group">
      <div class="col-8"></div>
      <!--    @if (Html.GetUserInSystemGuid() == goal.CreatorId | User.IsInRole("ADMIN") | User.IsInRole("MANAGER"))-->
      <div onclick="DeleteNotification(notification.id)" class="col-4 p-2">
        <img src="assets/images/ic_trash.svg" />
      </div>
    </div>
  </div>
</div>
