﻿.pagination {
    display: inline-block;
    height: 3.5em;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #ef0d33;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #DDD;
}
.pagination *{
    background-color:none;
}
.pagination *:hover{
    background-color:transparent;
}
