﻿/*.profile-item {
    background: #FFF;
    box-shadow: 0 2px 2px rgba(0,0,0,0.15);
    border-radius: 2px
}

.profile-notifications-container {
    width: 40%;
    height: 240px
}

.profile-image-container {
    width: 16%;
    height: 240px
}

.profile-info-container {
    width: 40%;
    height: 240px
}

.profile-image-block {
    height: 100%
}

.profile-image {
    position: relative;
    margin: 10px;
    height: 220px
}

.download-btn {
    position: absolute;
    right: 0;
    bottom: 0
}

.profile-item ul li {
    font-family: roboto;
    font-size: 14px;
    margin-top: 10px;
    margin-left: -20px
}

.profile-info-container ul li::before {
    content: "\2022";
    color: #EF0D33;
    font-weight: 700;
    display: inline-block;
    width: 10px
}

.profile-info-container span {
    text-transform: uppercase;
    color: #2C333F;
    margin-left: 10px
}

.profile-info {
    position: relative;
    margin: 20px;
    height: 200px
}

.edit-icon-rt {
    position: absolute;
    right: 0;
    top: 0
}

.profile-notifications {
    position: relative;
    margin: 20px;
    height: 200px
}

.profile-notifications-container span {
    text-transform: uppercase;
    color: #2C333F
}

.profile-notifications li span {
    font-family: roboto;
    text-transform: none;
    margin-left: 10px
}

.profile-notifications li {
    display: flex;
    align-items: center
}

.profile-top-container span {
    font-size: 21px;
    text-transform: uppercase
}

.profile-top-container {
    margin-bottom: 20px;
    margin-left: 20px;
    color: #2C333F
}*/
