﻿.svg-image {
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
}

.svg-image-xs {
    height: 15px;
    width: 15px;
    background-repeat: no-repeat;
}

.active-image {
    transition: 0.3s;
    background-color: #E9E9E9;
    border-radius: 50%;
}

.menu-tab:hover .employees-img {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9487 17.1371C19.8608 16.7147 19.4472 16.4436 19.0246 16.5315C18.6022 16.6195 18.3311 17.0332 18.4191 17.4556C18.4697 17.6989 18.4094 17.9482 18.2536 18.1399C18.1634 18.2509 17.9622 18.437 17.6287 18.437H2.37074C2.03723 18.437 1.83603 18.2508 1.7458 18.1399C1.58998 17.9483 1.52967 17.6989 1.58033 17.4556C2.39109 13.5613 5.82595 10.7167 9.7926 10.6207C9.86131 10.6234 9.93033 10.6247 9.9997 10.6247C10.0693 10.6247 10.1386 10.6233 10.2076 10.6207C13.0017 10.6877 15.5843 12.1029 17.1483 14.4354C17.3886 14.7938 17.8738 14.8895 18.2322 14.6492C18.5906 14.409 18.6863 13.9237 18.446 13.5653C17.1642 11.6535 15.3028 10.2633 13.1804 9.56477C14.4737 8.59492 15.3121 7.04969 15.3121 5.31235C15.3121 2.38314 12.929 0 9.9997 0C7.07045 0 4.68735 2.38314 4.68735 5.31235C4.68735 7.05074 5.5267 8.59679 6.82139 9.56657C5.63518 9.9571 4.52212 10.5648 3.54793 11.3661C1.76158 12.8355 0.519541 14.885 0.0506867 17.1371C-0.0962623 17.8428 0.0797874 18.5676 0.533603 19.1257C0.985192 19.681 1.65482 19.9994 2.37074 19.9994H17.6286C18.3446 19.9994 19.0142 19.681 19.4658 19.1257C19.9197 18.5676 20.0957 17.8428 19.9487 17.1371ZM6.24981 5.31235C6.24981 3.24464 7.93199 1.56246 9.9997 1.56246C12.0674 1.56246 13.7496 3.24464 13.7496 5.31235C13.7496 7.3164 12.1694 8.9583 10.1895 9.05748C10.1263 9.05631 10.0631 9.05572 9.9997 9.05572C9.93666 9.05572 9.87361 9.05635 9.81065 9.05752C7.83043 8.95873 6.24981 7.31667 6.24981 5.31235Z' fill='%23F2C94C'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    transition: 0.3s;
}

.menu-tab:hover .dashboard-img {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M16.9961 5.02308C16.7304 4.75576 16.3125 4.71645 16.0039 4.92873C14.8359 5.7307 8.97263 9.76411 8.33981 10.397C7.42575 11.3169 7.42575 12.8147 8.33981 13.7346C8.79684 14.1946 9.39841 14.4226 9.99606 14.4226C10.5976 14.4226 11.1953 14.1946 11.6523 13.7346C12.2812 13.1017 16.289 7.20097 17.0859 6.02161C17.3007 5.70711 17.2617 5.29041 16.9961 5.02308ZM10.5507 12.6182C10.2461 12.9248 9.74997 12.9248 9.44528 12.6182C9.14059 12.3115 9.14059 11.8123 9.44528 11.5056C9.69137 11.2619 11.3554 10.0668 13.4023 8.63586C11.9804 10.6997 10.7929 12.3744 10.5507 12.6182Z' fill='%23F2C94C'/%3E%3Cpath d='M3.60156 15.7199L2.63672 16.1916C1.93359 14.9258 1.5625 13.5106 1.5625 12.0639C1.5625 11.0025 1.75781 9.98821 2.11328 9.04865L3.21875 9.58329C3.32812 9.6344 3.44141 9.66192 3.55469 9.66192C3.84766 9.66192 4.125 9.49681 4.25781 9.21376C4.44531 8.82064 4.28125 8.35283 3.89062 8.16413L2.80078 7.63735C4.15625 5.41228 6.50391 3.85946 9.21875 3.60786V4.79115C9.21875 5.22359 9.57031 5.5774 10 5.5774C10.4297 5.5774 10.7812 5.22359 10.7812 4.79115V3.60786C11.7109 3.69435 12.6133 3.93022 13.4688 4.31941C13.8633 4.49631 14.3242 4.32334 14.5039 3.92629C14.6797 3.52924 14.5078 3.06536 14.1133 2.88452C12.8164 2.29877 11.4336 2 10 2C7.32812 2 4.81641 3.0457 2.92969 4.9484C1.03906 6.84717 0 9.37494 0 12.0639C0 14.0491 0.585938 15.9833 1.69531 17.6501C1.84375 17.8742 2.08984 18 2.34375 18C2.46094 18 2.57422 17.9725 2.6875 17.9214L4.28906 17.1351C4.67578 16.9464 4.83984 16.4747 4.64844 16.0855C4.45703 15.6924 3.99219 15.5312 3.60156 15.7199Z' fill='%23F2C94C'/%3E%3Cpath d='M19.1172 7.92827C18.9414 7.53122 18.4766 7.35825 18.082 7.53515C17.6875 7.71206 17.5156 8.17987 17.6914 8.57692C18.1836 9.67766 18.4336 10.8492 18.4336 12.0678C18.4336 13.5184 18.0625 14.9337 17.3555 16.2035L16.3477 15.7199C15.957 15.5352 15.4922 15.7003 15.3047 16.0934C15.1211 16.4865 15.2852 16.9543 15.6758 17.143L17.3164 17.9293C17.4258 17.9804 17.5391 18.0039 17.6524 18.0039C17.9063 18.0039 18.1524 17.8781 18.3008 17.6541C19.4141 15.9833 20 14.0492 20 12.0639C20 10.6211 19.7031 9.2295 19.1172 7.92827Z' fill='%23F2C94C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='20' height='20' fill='%23F2C94C'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    transition: 0.3s;
}

.menu-tab:hover .settings-img {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 5.46875C7.50145 5.46875 5.46875 7.50148 5.46875 10C5.46875 12.4985 7.50145 14.5312 10 14.5312C10.4667 14.5312 10.9271 14.4604 11.3686 14.3207C11.78 14.1905 12.0079 13.7515 11.8777 13.3401C11.7475 12.9287 11.3084 12.7008 10.8971 12.831C10.6083 12.9224 10.3065 12.9688 10 12.9688C8.36305 12.9688 7.03125 11.637 7.03125 10C7.03125 8.36301 8.36305 7.03125 10 7.03125C11.637 7.03125 12.9688 8.36301 12.9688 10C12.9688 10.2845 12.9287 10.5656 12.8498 10.8354C12.7287 11.2495 12.9662 11.6834 13.3804 11.8045C13.7946 11.9257 14.2284 11.6881 14.3495 11.274C14.4701 10.8616 14.5312 10.433 14.5312 10C14.5312 7.50148 12.4986 5.46875 10 5.46875Z' fill='%23F2C94C'/%3E%3Cpath d='M17.6562 7.26566H17.2629C17.1593 7.26566 17.0655 7.20047 17.0249 7.10211L17.0179 7.08523C16.9759 6.98391 16.996 6.87113 17.0691 6.79793L17.3474 6.51973C18.2612 5.6059 18.2612 4.11898 17.3474 3.20516L16.795 2.65273C16.3523 2.21004 15.7637 1.96625 15.1377 1.96625C14.5116 1.96625 13.923 2.21004 13.4804 2.65273L13.2022 2.9309C13.1289 3.00414 13.0161 3.02422 12.9152 2.9823L12.9005 2.97621C12.7996 2.93453 12.7344 2.84074 12.7344 2.73727V2.34375C12.7344 1.05141 11.683 0 10.3907 0H9.60941C8.31707 0 7.26566 1.05141 7.26566 2.34375V2.73727C7.26566 2.84074 7.20051 2.93453 7.10047 2.97582L7.0852 2.98215C6.98398 3.02426 6.87109 3.00414 6.79793 2.93094L6.51973 2.65273C6.07707 2.21004 5.48848 1.96625 4.86242 1.96625C4.23637 1.96625 3.64781 2.21004 3.20512 2.65273L2.6527 3.20508C1.73887 4.11895 1.73887 5.60582 2.65273 6.51969L2.9309 6.79785C3.0041 6.87109 3.02418 6.98387 2.98094 7.08809L2.97621 7.09949C2.93457 7.20039 2.8407 7.26559 2.73723 7.26559H2.34375C1.05141 7.26559 0 8.31699 0 9.60934V10.3906C0 11.6829 1.05141 12.7343 2.34375 12.7343H2.73719C2.8407 12.7343 2.93449 12.7995 2.97516 12.8979L2.98211 12.9148C3.02418 13.0161 3.00406 13.1289 2.93086 13.2021L2.6527 13.4803C2.21 13.923 1.96621 14.5115 1.96621 15.1376C1.96621 15.7636 2.21 16.3521 2.65266 16.7948L3.20508 17.3473C3.64777 17.79 4.23637 18.0338 4.86238 18.0338C5.48848 18.0338 6.07703 17.79 6.51969 17.3473L6.79785 17.0691C6.87102 16.9959 6.98394 16.9758 7.08484 17.0177L7.09957 17.0238C7.20047 17.0655 7.26562 17.1593 7.26562 17.2627V17.6562C7.26562 18.9486 8.31703 20 9.60938 20H10.3906C11.683 20 12.7344 18.9486 12.7344 17.6562V17.2627C12.7344 17.1593 12.7995 17.0655 12.8996 17.0242L12.9148 17.0179C13.0161 16.9758 13.1289 16.9959 13.2021 17.0691L13.4803 17.3473C13.923 17.79 14.5116 18.0338 15.1376 18.0338C15.7637 18.0338 16.3522 17.79 16.7949 17.3473L17.3473 16.7948C17.79 16.3522 18.0338 15.7636 18.0338 15.1376C18.0338 14.5115 17.79 13.923 17.3473 13.4803L17.0691 13.2021C16.9959 13.1289 16.9758 13.0161 17.0179 12.9148L17.0238 12.9005C17.0655 12.7996 17.1593 12.7344 17.2628 12.7344H17.6562C18.9486 12.7344 20 11.683 20 10.3907V9.60941C20 8.31707 18.9486 7.26566 17.6562 7.26566ZM18.4375 10.3906C18.4375 10.8214 18.087 11.1719 17.6562 11.1719H17.2628C16.5243 11.1719 15.8636 11.6163 15.5796 12.304L15.5745 12.3163C15.2895 13.0037 15.4423 13.785 15.9642 14.307L16.2425 14.5852C16.39 14.7327 16.4713 14.9289 16.4713 15.1376C16.4713 15.3463 16.39 15.5424 16.2424 15.69L15.69 16.2424C15.5424 16.39 15.3463 16.4713 15.1376 16.4713C14.9289 16.4713 14.7327 16.39 14.5852 16.2424L14.3069 15.9642C13.7847 15.4421 13.003 15.2893 12.3151 15.575L12.3041 15.5796C11.6163 15.8636 11.1719 16.5243 11.1719 17.2627V17.6562C11.1719 18.087 10.8214 18.4375 10.3906 18.4375H9.60938C9.17859 18.4375 8.82812 18.087 8.82812 17.6562V17.2627C8.82812 16.5243 8.38371 15.8636 7.69512 15.5793L7.68457 15.5749C7.45449 15.4793 7.21398 15.4329 6.97609 15.4329C6.50301 15.4329 6.04051 15.6168 5.69305 15.9642L5.41484 16.2425C5.26727 16.39 5.07113 16.4713 4.86242 16.4713C4.65375 16.4713 4.45754 16.39 4.31 16.2424L3.75758 15.69C3.61 15.5424 3.52875 15.3463 3.52875 15.1376C3.52875 14.9289 3.61 14.7327 3.75758 14.5852L4.03578 14.307C4.5577 13.785 4.71059 13.0037 4.42547 12.3163L4.42039 12.304C4.13633 11.6163 3.47566 11.1719 2.73723 11.1719H2.34375C1.91297 11.1719 1.5625 10.8214 1.5625 10.3906V9.60938C1.5625 9.17859 1.91297 8.82812 2.34375 8.82812H2.73723C3.4757 8.82812 4.13637 8.38375 4.42145 7.69348L4.42508 7.68461C4.7107 6.99695 4.55789 6.21523 4.03574 5.69305L3.75758 5.41488C3.45293 5.11023 3.45293 4.61461 3.75758 4.31L4.30996 3.75758C4.45758 3.61004 4.65375 3.52875 4.86242 3.52875C5.07113 3.52875 5.2673 3.61 5.41484 3.75758L5.69309 4.03582C6.21531 4.55793 6.99707 4.71074 7.68492 4.42496L7.69594 4.42039C8.38371 4.13641 8.82812 3.47574 8.82812 2.73727V2.34375C8.82812 1.91297 9.17859 1.5625 9.60938 1.5625H10.3906C10.8214 1.5625 11.1719 1.91297 11.1719 2.34375V2.73727C11.1719 3.47574 11.6163 4.13641 12.3049 4.4207L12.3154 4.42508C13.003 4.71062 13.7847 4.55785 14.307 4.03574L14.5852 3.7575C14.7327 3.60996 14.9289 3.52871 15.1376 3.52871C15.3463 3.52871 15.5425 3.61 15.69 3.75754L16.2424 4.30996C16.5471 4.61457 16.5471 5.1102 16.2425 5.4148L15.9642 5.69305C15.4421 6.21523 15.2893 6.99691 15.5737 7.68172L15.5796 7.69598C15.8637 8.38375 16.5243 8.82812 17.2628 8.82812H17.6562C18.087 8.82812 18.4375 9.17859 18.4375 9.60938V10.3906Z' fill='%23F2C94C'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    transition: 0.3s;
}

.menu-tab:hover .projects-img {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2455 10.625C15.6605 10.625 16 10.2734 16 9.84375V3.125C16 1.40234 14.6456 0 12.9818 0H6.03631C4.37255 0 3.01816 1.40234 3.01816 3.12109C1.3544 3.12109 0 4.52344 0 6.24609V16.8711C0 18.5938 1.3544 19.9961 3.01816 19.9961H10.3372C12.0009 19.9961 13.3553 18.5938 13.3553 16.8711V16.8477C14.8418 16.6562 15.9962 15.3359 15.9962 13.7461C15.9962 13.3164 15.6567 12.9648 15.2417 12.9648C14.8267 12.9648 14.4871 13.3164 14.4871 13.7461C14.4871 14.6094 13.8118 15.3086 12.9781 15.3086H6.03631C5.63263 15.3086 5.25536 15.1445 4.96864 14.8516C4.68191 14.5547 4.52723 14.1641 4.52723 13.7461V3.125C4.52723 2.26172 5.20255 1.5625 6.03631 1.5625H12.9781C13.8118 1.5625 14.4871 2.26172 14.4871 3.125V9.84375C14.4909 10.2773 14.8267 10.625 15.2455 10.625ZM6.03631 16.875H11.8463C11.8463 17.7344 11.1672 18.4375 10.3372 18.4375H3.01816C2.18816 18.4375 1.50908 17.7344 1.50908 16.875V6.25C1.50908 5.38672 2.18439 4.6875 3.01816 4.6875V13.75C3.01816 14.5859 3.33129 15.3711 3.90097 15.9609C4.47442 16.5508 5.23273 16.875 6.03631 16.875Z' fill='%23F2C94C'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    transition: 0.3s;
}

.employees-img {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9487 17.1371C19.8608 16.7147 19.4472 16.4436 19.0246 16.5315C18.6022 16.6195 18.3311 17.0332 18.4191 17.4556C18.4697 17.6989 18.4094 17.9482 18.2536 18.1399C18.1634 18.2509 17.9622 18.437 17.6287 18.437H2.37074C2.03723 18.437 1.83603 18.2508 1.7458 18.1399C1.58998 17.9483 1.52967 17.6989 1.58033 17.4556C2.39109 13.5613 5.82595 10.7167 9.7926 10.6207C9.86131 10.6234 9.93033 10.6247 9.9997 10.6247C10.0693 10.6247 10.1386 10.6233 10.2076 10.6207C13.0017 10.6877 15.5843 12.1029 17.1483 14.4354C17.3886 14.7938 17.8738 14.8895 18.2322 14.6492C18.5906 14.409 18.6863 13.9237 18.446 13.5653C17.1642 11.6535 15.3028 10.2633 13.1804 9.56477C14.4737 8.59492 15.3121 7.04969 15.3121 5.31235C15.3121 2.38314 12.929 0 9.9997 0C7.07045 0 4.68735 2.38314 4.68735 5.31235C4.68735 7.05074 5.5267 8.59679 6.82139 9.56657C5.63518 9.9571 4.52212 10.5648 3.54793 11.3661C1.76158 12.8355 0.519541 14.885 0.0506867 17.1371C-0.0962623 17.8428 0.0797874 18.5676 0.533603 19.1257C0.985192 19.681 1.65482 19.9994 2.37074 19.9994H17.6286C18.3446 19.9994 19.0142 19.681 19.4658 19.1257C19.9197 18.5676 20.0957 17.8428 19.9487 17.1371ZM6.24981 5.31235C6.24981 3.24464 7.93199 1.56246 9.9997 1.56246C12.0674 1.56246 13.7496 3.24464 13.7496 5.31235C13.7496 7.3164 12.1694 8.9583 10.1895 9.05748C10.1263 9.05631 10.0631 9.05572 9.9997 9.05572C9.93666 9.05572 9.87361 9.05635 9.81065 9.05752C7.83043 8.95873 6.24981 7.31667 6.24981 5.31235Z' fill='%23F2F2F2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    transition: 0.3s;
}

.svg-image:hover {
    cursor: pointer;
}

.projects-img {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2455 10.625C15.6605 10.625 16 10.2734 16 9.84375V3.125C16 1.40234 14.6456 0 12.9818 0H6.03631C4.37255 0 3.01816 1.40234 3.01816 3.12109C1.3544 3.12109 0 4.52344 0 6.24609V16.8711C0 18.5938 1.3544 19.9961 3.01816 19.9961H10.3372C12.0009 19.9961 13.3553 18.5938 13.3553 16.8711V16.8477C14.8418 16.6562 15.9962 15.3359 15.9962 13.7461C15.9962 13.3164 15.6567 12.9648 15.2417 12.9648C14.8267 12.9648 14.4871 13.3164 14.4871 13.7461C14.4871 14.6094 13.8118 15.3086 12.9781 15.3086H6.03631C5.63263 15.3086 5.25536 15.1445 4.96864 14.8516C4.68191 14.5547 4.52723 14.1641 4.52723 13.7461V3.125C4.52723 2.26172 5.20255 1.5625 6.03631 1.5625H12.9781C13.8118 1.5625 14.4871 2.26172 14.4871 3.125V9.84375C14.4909 10.2773 14.8267 10.625 15.2455 10.625ZM6.03631 16.875H11.8463C11.8463 17.7344 11.1672 18.4375 10.3372 18.4375H3.01816C2.18816 18.4375 1.50908 17.7344 1.50908 16.875V6.25C1.50908 5.38672 2.18439 4.6875 3.01816 4.6875V13.75C3.01816 14.5859 3.33129 15.3711 3.90097 15.9609C4.47442 16.5508 5.23273 16.875 6.03631 16.875Z' fill='%23F2F2F2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    transition: 0.3s;
}

.dashboard-img {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M16.9961 5.02308C16.7304 4.75576 16.3125 4.71645 16.0039 4.92873C14.8359 5.7307 8.97263 9.76411 8.33981 10.397C7.42575 11.3169 7.42575 12.8147 8.33981 13.7346C8.79684 14.1946 9.39841 14.4226 9.99606 14.4226C10.5976 14.4226 11.1953 14.1946 11.6523 13.7346C12.2812 13.1017 16.289 7.20097 17.0859 6.02161C17.3007 5.70711 17.2617 5.29041 16.9961 5.02308ZM10.5507 12.6182C10.2461 12.9248 9.74997 12.9248 9.44528 12.6182C9.14059 12.3115 9.14059 11.8123 9.44528 11.5056C9.69137 11.2619 11.3554 10.0668 13.4023 8.63586C11.9804 10.6997 10.7929 12.3744 10.5507 12.6182Z' fill='%23F2F2F2'/%3E%3Cpath d='M3.60156 15.7199L2.63672 16.1916C1.93359 14.9258 1.5625 13.5106 1.5625 12.0639C1.5625 11.0025 1.75781 9.98821 2.11328 9.04865L3.21875 9.58329C3.32812 9.6344 3.44141 9.66192 3.55469 9.66192C3.84766 9.66192 4.125 9.49681 4.25781 9.21376C4.44531 8.82064 4.28125 8.35283 3.89062 8.16413L2.80078 7.63735C4.15625 5.41228 6.50391 3.85946 9.21875 3.60786V4.79115C9.21875 5.22359 9.57031 5.5774 10 5.5774C10.4297 5.5774 10.7812 5.22359 10.7812 4.79115V3.60786C11.7109 3.69435 12.6133 3.93022 13.4688 4.31941C13.8633 4.49631 14.3242 4.32334 14.5039 3.92629C14.6797 3.52924 14.5078 3.06536 14.1133 2.88452C12.8164 2.29877 11.4336 2 10 2C7.32812 2 4.81641 3.0457 2.92969 4.9484C1.03906 6.84717 0 9.37494 0 12.0639C0 14.0491 0.585938 15.9833 1.69531 17.6501C1.84375 17.8742 2.08984 18 2.34375 18C2.46094 18 2.57422 17.9725 2.6875 17.9214L4.28906 17.1351C4.67578 16.9464 4.83984 16.4747 4.64844 16.0855C4.45703 15.6924 3.99219 15.5312 3.60156 15.7199Z' fill='%23F2F2F2'/%3E%3Cpath d='M19.1172 7.92827C18.9414 7.53122 18.4766 7.35825 18.082 7.53515C17.6875 7.71206 17.5156 8.17987 17.6914 8.57692C18.1836 9.67766 18.4336 10.8492 18.4336 12.0678C18.4336 13.5184 18.0625 14.9337 17.3555 16.2035L16.3477 15.7199C15.957 15.5352 15.4922 15.7003 15.3047 16.0934C15.1211 16.4865 15.2852 16.9543 15.6758 17.143L17.3164 17.9293C17.4258 17.9804 17.5391 18.0039 17.6524 18.0039C17.9063 18.0039 18.1524 17.8781 18.3008 17.6541C19.4141 15.9833 20 14.0492 20 12.0639C20 10.6211 19.7031 9.2295 19.1172 7.92827Z' fill='%23F2F2F2'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    transition: 0.3s;
}

.settings-img {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 5.46875C7.50145 5.46875 5.46875 7.50148 5.46875 10C5.46875 12.4985 7.50145 14.5312 10 14.5312C10.4667 14.5312 10.9271 14.4604 11.3686 14.3207C11.78 14.1905 12.0079 13.7515 11.8777 13.3401C11.7475 12.9287 11.3084 12.7008 10.8971 12.831C10.6083 12.9224 10.3065 12.9688 10 12.9688C8.36305 12.9688 7.03125 11.637 7.03125 10C7.03125 8.36301 8.36305 7.03125 10 7.03125C11.637 7.03125 12.9688 8.36301 12.9688 10C12.9688 10.2845 12.9287 10.5656 12.8498 10.8354C12.7287 11.2495 12.9662 11.6834 13.3804 11.8045C13.7946 11.9257 14.2284 11.6881 14.3495 11.274C14.4701 10.8616 14.5312 10.433 14.5312 10C14.5312 7.50148 12.4986 5.46875 10 5.46875Z' fill='%23F2F2F2'/%3E%3Cpath d='M17.6562 7.26566H17.2629C17.1593 7.26566 17.0655 7.20047 17.0249 7.10211L17.0179 7.08523C16.9759 6.98391 16.996 6.87113 17.0691 6.79793L17.3474 6.51973C18.2612 5.6059 18.2612 4.11898 17.3474 3.20516L16.795 2.65273C16.3523 2.21004 15.7637 1.96625 15.1377 1.96625C14.5116 1.96625 13.923 2.21004 13.4804 2.65273L13.2022 2.9309C13.1289 3.00414 13.0161 3.02422 12.9152 2.9823L12.9005 2.97621C12.7996 2.93453 12.7344 2.84074 12.7344 2.73727V2.34375C12.7344 1.05141 11.683 0 10.3907 0H9.60941C8.31707 0 7.26566 1.05141 7.26566 2.34375V2.73727C7.26566 2.84074 7.20051 2.93453 7.10047 2.97582L7.0852 2.98215C6.98398 3.02426 6.87109 3.00414 6.79793 2.93094L6.51973 2.65273C6.07707 2.21004 5.48848 1.96625 4.86242 1.96625C4.23637 1.96625 3.64781 2.21004 3.20512 2.65273L2.6527 3.20508C1.73887 4.11895 1.73887 5.60582 2.65273 6.51969L2.9309 6.79785C3.0041 6.87109 3.02418 6.98387 2.98094 7.08809L2.97621 7.09949C2.93457 7.20039 2.8407 7.26559 2.73723 7.26559H2.34375C1.05141 7.26559 0 8.31699 0 9.60934V10.3906C0 11.6829 1.05141 12.7343 2.34375 12.7343H2.73719C2.8407 12.7343 2.93449 12.7995 2.97516 12.8979L2.98211 12.9148C3.02418 13.0161 3.00406 13.1289 2.93086 13.2021L2.6527 13.4803C2.21 13.923 1.96621 14.5115 1.96621 15.1376C1.96621 15.7636 2.21 16.3521 2.65266 16.7948L3.20508 17.3473C3.64777 17.79 4.23637 18.0338 4.86238 18.0338C5.48848 18.0338 6.07703 17.79 6.51969 17.3473L6.79785 17.0691C6.87102 16.9959 6.98394 16.9758 7.08484 17.0177L7.09957 17.0238C7.20047 17.0655 7.26562 17.1593 7.26562 17.2627V17.6562C7.26562 18.9486 8.31703 20 9.60938 20H10.3906C11.683 20 12.7344 18.9486 12.7344 17.6562V17.2627C12.7344 17.1593 12.7995 17.0655 12.8996 17.0242L12.9148 17.0179C13.0161 16.9758 13.1289 16.9959 13.2021 17.0691L13.4803 17.3473C13.923 17.79 14.5116 18.0338 15.1376 18.0338C15.7637 18.0338 16.3522 17.79 16.7949 17.3473L17.3473 16.7948C17.79 16.3522 18.0338 15.7636 18.0338 15.1376C18.0338 14.5115 17.79 13.923 17.3473 13.4803L17.0691 13.2021C16.9959 13.1289 16.9758 13.0161 17.0179 12.9148L17.0238 12.9005C17.0655 12.7996 17.1593 12.7344 17.2628 12.7344H17.6562C18.9486 12.7344 20 11.683 20 10.3907V9.60941C20 8.31707 18.9486 7.26566 17.6562 7.26566ZM18.4375 10.3906C18.4375 10.8214 18.087 11.1719 17.6562 11.1719H17.2628C16.5243 11.1719 15.8636 11.6163 15.5796 12.304L15.5745 12.3163C15.2895 13.0037 15.4423 13.785 15.9642 14.307L16.2425 14.5852C16.39 14.7327 16.4713 14.9289 16.4713 15.1376C16.4713 15.3463 16.39 15.5424 16.2424 15.69L15.69 16.2424C15.5424 16.39 15.3463 16.4713 15.1376 16.4713C14.9289 16.4713 14.7327 16.39 14.5852 16.2424L14.3069 15.9642C13.7847 15.4421 13.003 15.2893 12.3151 15.575L12.3041 15.5796C11.6163 15.8636 11.1719 16.5243 11.1719 17.2627V17.6562C11.1719 18.087 10.8214 18.4375 10.3906 18.4375H9.60938C9.17859 18.4375 8.82812 18.087 8.82812 17.6562V17.2627C8.82812 16.5243 8.38371 15.8636 7.69512 15.5793L7.68457 15.5749C7.45449 15.4793 7.21398 15.4329 6.97609 15.4329C6.50301 15.4329 6.04051 15.6168 5.69305 15.9642L5.41484 16.2425C5.26727 16.39 5.07113 16.4713 4.86242 16.4713C4.65375 16.4713 4.45754 16.39 4.31 16.2424L3.75758 15.69C3.61 15.5424 3.52875 15.3463 3.52875 15.1376C3.52875 14.9289 3.61 14.7327 3.75758 14.5852L4.03578 14.307C4.5577 13.785 4.71059 13.0037 4.42547 12.3163L4.42039 12.304C4.13633 11.6163 3.47566 11.1719 2.73723 11.1719H2.34375C1.91297 11.1719 1.5625 10.8214 1.5625 10.3906V9.60938C1.5625 9.17859 1.91297 8.82812 2.34375 8.82812H2.73723C3.4757 8.82812 4.13637 8.38375 4.42145 7.69348L4.42508 7.68461C4.7107 6.99695 4.55789 6.21523 4.03574 5.69305L3.75758 5.41488C3.45293 5.11023 3.45293 4.61461 3.75758 4.31L4.30996 3.75758C4.45758 3.61004 4.65375 3.52875 4.86242 3.52875C5.07113 3.52875 5.2673 3.61 5.41484 3.75758L5.69309 4.03582C6.21531 4.55793 6.99707 4.71074 7.68492 4.42496L7.69594 4.42039C8.38371 4.13641 8.82812 3.47574 8.82812 2.73727V2.34375C8.82812 1.91297 9.17859 1.5625 9.60938 1.5625H10.3906C10.8214 1.5625 11.1719 1.91297 11.1719 2.34375V2.73727C11.1719 3.47574 11.6163 4.13641 12.3049 4.4207L12.3154 4.42508C13.003 4.71062 13.7847 4.55785 14.307 4.03574L14.5852 3.7575C14.7327 3.60996 14.9289 3.52871 15.1376 3.52871C15.3463 3.52871 15.5425 3.61 15.69 3.75754L16.2424 4.30996C16.5471 4.61457 16.5471 5.1102 16.2425 5.4148L15.9642 5.69305C15.4421 6.21523 15.2893 6.99691 15.5737 7.68172L15.5796 7.69598C15.8637 8.38375 16.5243 8.82812 17.2628 8.82812H17.6562C18.087 8.82812 18.4375 9.17859 18.4375 9.60938V10.3906Z' fill='%23F2F2F2'/%3E%3C/svg%3E");
    transition: 0.3s;
}

.settings-img-red {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 5.46875C7.50145 5.46875 5.46875 7.50148 5.46875 10C5.46875 12.4985 7.50145 14.5312 10 14.5312C10.4667 14.5312 10.9271 14.4604 11.3686 14.3207C11.78 14.1905 12.0079 13.7515 11.8777 13.3401C11.7475 12.9287 11.3084 12.7008 10.8971 12.831C10.6083 12.9224 10.3065 12.9688 10 12.9688C8.36305 12.9688 7.03125 11.637 7.03125 10C7.03125 8.36301 8.36305 7.03125 10 7.03125C11.637 7.03125 12.9688 8.36301 12.9688 10C12.9688 10.2845 12.9287 10.5656 12.8498 10.8354C12.7287 11.2495 12.9662 11.6834 13.3804 11.8045C13.7946 11.9257 14.2284 11.6881 14.3495 11.274C14.4701 10.8616 14.5312 10.433 14.5312 10C14.5312 7.50148 12.4986 5.46875 10 5.46875Z' fill='%23EF0D33'/%3E%3Cpath d='M17.6562 7.26566H17.2629C17.1593 7.26566 17.0655 7.20047 17.0249 7.10211L17.0179 7.08523C16.9759 6.98391 16.996 6.87113 17.0691 6.79793L17.3474 6.51973C18.2612 5.6059 18.2612 4.11898 17.3474 3.20516L16.795 2.65273C16.3523 2.21004 15.7637 1.96625 15.1377 1.96625C14.5116 1.96625 13.923 2.21004 13.4804 2.65273L13.2022 2.9309C13.1289 3.00414 13.0161 3.02422 12.9152 2.9823L12.9005 2.97621C12.7996 2.93453 12.7344 2.84074 12.7344 2.73727V2.34375C12.7344 1.05141 11.683 0 10.3907 0H9.60941C8.31707 0 7.26566 1.05141 7.26566 2.34375V2.73727C7.26566 2.84074 7.20051 2.93453 7.10047 2.97582L7.0852 2.98215C6.98398 3.02426 6.87109 3.00414 6.79793 2.93094L6.51973 2.65273C6.07707 2.21004 5.48848 1.96625 4.86242 1.96625C4.23637 1.96625 3.64781 2.21004 3.20512 2.65273L2.6527 3.20508C1.73887 4.11895 1.73887 5.60582 2.65273 6.51969L2.9309 6.79785C3.0041 6.87109 3.02418 6.98387 2.98094 7.08809L2.97621 7.09949C2.93457 7.20039 2.8407 7.26559 2.73723 7.26559H2.34375C1.05141 7.26559 0 8.31699 0 9.60934V10.3906C0 11.6829 1.05141 12.7343 2.34375 12.7343H2.73719C2.8407 12.7343 2.93449 12.7995 2.97516 12.8979L2.98211 12.9148C3.02418 13.0161 3.00406 13.1289 2.93086 13.2021L2.6527 13.4803C2.21 13.923 1.96621 14.5115 1.96621 15.1376C1.96621 15.7636 2.21 16.3521 2.65266 16.7948L3.20508 17.3473C3.64777 17.79 4.23637 18.0338 4.86238 18.0338C5.48848 18.0338 6.07703 17.79 6.51969 17.3473L6.79785 17.0691C6.87102 16.9959 6.98394 16.9758 7.08484 17.0177L7.09957 17.0238C7.20047 17.0655 7.26562 17.1593 7.26562 17.2627V17.6562C7.26562 18.9486 8.31703 20 9.60938 20H10.3906C11.683 20 12.7344 18.9486 12.7344 17.6562V17.2627C12.7344 17.1593 12.7995 17.0655 12.8996 17.0242L12.9148 17.0179C13.0161 16.9758 13.1289 16.9959 13.2021 17.0691L13.4803 17.3473C13.923 17.79 14.5116 18.0338 15.1376 18.0338C15.7637 18.0338 16.3522 17.79 16.7949 17.3473L17.3473 16.7948C17.79 16.3522 18.0338 15.7636 18.0338 15.1376C18.0338 14.5115 17.79 13.923 17.3473 13.4803L17.0691 13.2021C16.9959 13.1289 16.9758 13.0161 17.0179 12.9148L17.0238 12.9005C17.0655 12.7996 17.1593 12.7344 17.2628 12.7344H17.6562C18.9486 12.7344 20 11.683 20 10.3907V9.60941C20 8.31707 18.9486 7.26566 17.6562 7.26566ZM18.4375 10.3906C18.4375 10.8214 18.087 11.1719 17.6562 11.1719H17.2628C16.5243 11.1719 15.8636 11.6163 15.5796 12.304L15.5745 12.3163C15.2895 13.0037 15.4423 13.785 15.9642 14.307L16.2425 14.5852C16.39 14.7327 16.4713 14.9289 16.4713 15.1376C16.4713 15.3463 16.39 15.5424 16.2424 15.69L15.69 16.2424C15.5424 16.39 15.3463 16.4713 15.1376 16.4713C14.9289 16.4713 14.7327 16.39 14.5852 16.2424L14.3069 15.9642C13.7847 15.4421 13.003 15.2893 12.3151 15.575L12.3041 15.5796C11.6163 15.8636 11.1719 16.5243 11.1719 17.2627V17.6562C11.1719 18.087 10.8214 18.4375 10.3906 18.4375H9.60938C9.17859 18.4375 8.82812 18.087 8.82812 17.6562V17.2627C8.82812 16.5243 8.38371 15.8636 7.69512 15.5793L7.68457 15.5749C7.45449 15.4793 7.21398 15.4329 6.97609 15.4329C6.50301 15.4329 6.04051 15.6168 5.69305 15.9642L5.41484 16.2425C5.26727 16.39 5.07113 16.4713 4.86242 16.4713C4.65375 16.4713 4.45754 16.39 4.31 16.2424L3.75758 15.69C3.61 15.5424 3.52875 15.3463 3.52875 15.1376C3.52875 14.9289 3.61 14.7327 3.75758 14.5852L4.03578 14.307C4.5577 13.785 4.71059 13.0037 4.42547 12.3163L4.42039 12.304C4.13633 11.6163 3.47566 11.1719 2.73723 11.1719H2.34375C1.91297 11.1719 1.5625 10.8214 1.5625 10.3906V9.60938C1.5625 9.17859 1.91297 8.82812 2.34375 8.82812H2.73723C3.4757 8.82812 4.13637 8.38375 4.42145 7.69348L4.42508 7.68461C4.7107 6.99695 4.55789 6.21523 4.03574 5.69305L3.75758 5.41488C3.45293 5.11023 3.45293 4.61461 3.75758 4.31L4.30996 3.75758C4.45758 3.61004 4.65375 3.52875 4.86242 3.52875C5.07113 3.52875 5.2673 3.61 5.41484 3.75758L5.69309 4.03582C6.21531 4.55793 6.99707 4.71074 7.68492 4.42496L7.69594 4.42039C8.38371 4.13641 8.82812 3.47574 8.82812 2.73727V2.34375C8.82812 1.91297 9.17859 1.5625 9.60938 1.5625H10.3906C10.8214 1.5625 11.1719 1.91297 11.1719 2.34375V2.73727C11.1719 3.47574 11.6163 4.13641 12.3049 4.4207L12.3154 4.42508C13.003 4.71062 13.7847 4.55785 14.307 4.03574L14.5852 3.7575C14.7327 3.60996 14.9289 3.52871 15.1376 3.52871C15.3463 3.52871 15.5425 3.61 15.69 3.75754L16.2424 4.30996C16.5471 4.61457 16.5471 5.1102 16.2425 5.4148L15.9642 5.69305C15.4421 6.21523 15.2893 6.99691 15.5737 7.68172L15.5796 7.69598C15.8637 8.38375 16.5243 8.82812 17.2628 8.82812H17.6562C18.087 8.82812 18.4375 9.17859 18.4375 9.60938V10.3906Z' fill='%23EF0D33'/%3E%3C/svg%3E");
    transition: 0.3s;
}

.settings-img-black {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 5.46875C7.50145 5.46875 5.46875 7.50148 5.46875 10C5.46875 12.4985 7.50145 14.5312 10 14.5312C10.4667 14.5312 10.9271 14.4604 11.3686 14.3207C11.78 14.1905 12.0079 13.7515 11.8777 13.3401C11.7475 12.9287 11.3084 12.7008 10.8971 12.831C10.6083 12.9224 10.3065 12.9688 10 12.9688C8.36305 12.9688 7.03125 11.637 7.03125 10C7.03125 8.36301 8.36305 7.03125 10 7.03125C11.637 7.03125 12.9688 8.36301 12.9688 10C12.9688 10.2845 12.9287 10.5656 12.8498 10.8354C12.7287 11.2495 12.9662 11.6834 13.3804 11.8045C13.7946 11.9257 14.2284 11.6881 14.3495 11.274C14.4701 10.8616 14.5312 10.433 14.5312 10C14.5312 7.50148 12.4986 5.46875 10 5.46875Z' fill='%23000000'/%3E%3Cpath d='M17.6562 7.26566H17.2629C17.1593 7.26566 17.0655 7.20047 17.0249 7.10211L17.0179 7.08523C16.9759 6.98391 16.996 6.87113 17.0691 6.79793L17.3474 6.51973C18.2612 5.6059 18.2612 4.11898 17.3474 3.20516L16.795 2.65273C16.3523 2.21004 15.7637 1.96625 15.1377 1.96625C14.5116 1.96625 13.923 2.21004 13.4804 2.65273L13.2022 2.9309C13.1289 3.00414 13.0161 3.02422 12.9152 2.9823L12.9005 2.97621C12.7996 2.93453 12.7344 2.84074 12.7344 2.73727V2.34375C12.7344 1.05141 11.683 0 10.3907 0H9.60941C8.31707 0 7.26566 1.05141 7.26566 2.34375V2.73727C7.26566 2.84074 7.20051 2.93453 7.10047 2.97582L7.0852 2.98215C6.98398 3.02426 6.87109 3.00414 6.79793 2.93094L6.51973 2.65273C6.07707 2.21004 5.48848 1.96625 4.86242 1.96625C4.23637 1.96625 3.64781 2.21004 3.20512 2.65273L2.6527 3.20508C1.73887 4.11895 1.73887 5.60582 2.65273 6.51969L2.9309 6.79785C3.0041 6.87109 3.02418 6.98387 2.98094 7.08809L2.97621 7.09949C2.93457 7.20039 2.8407 7.26559 2.73723 7.26559H2.34375C1.05141 7.26559 0 8.31699 0 9.60934V10.3906C0 11.6829 1.05141 12.7343 2.34375 12.7343H2.73719C2.8407 12.7343 2.93449 12.7995 2.97516 12.8979L2.98211 12.9148C3.02418 13.0161 3.00406 13.1289 2.93086 13.2021L2.6527 13.4803C2.21 13.923 1.96621 14.5115 1.96621 15.1376C1.96621 15.7636 2.21 16.3521 2.65266 16.7948L3.20508 17.3473C3.64777 17.79 4.23637 18.0338 4.86238 18.0338C5.48848 18.0338 6.07703 17.79 6.51969 17.3473L6.79785 17.0691C6.87102 16.9959 6.98394 16.9758 7.08484 17.0177L7.09957 17.0238C7.20047 17.0655 7.26562 17.1593 7.26562 17.2627V17.6562C7.26562 18.9486 8.31703 20 9.60938 20H10.3906C11.683 20 12.7344 18.9486 12.7344 17.6562V17.2627C12.7344 17.1593 12.7995 17.0655 12.8996 17.0242L12.9148 17.0179C13.0161 16.9758 13.1289 16.9959 13.2021 17.0691L13.4803 17.3473C13.923 17.79 14.5116 18.0338 15.1376 18.0338C15.7637 18.0338 16.3522 17.79 16.7949 17.3473L17.3473 16.7948C17.79 16.3522 18.0338 15.7636 18.0338 15.1376C18.0338 14.5115 17.79 13.923 17.3473 13.4803L17.0691 13.2021C16.9959 13.1289 16.9758 13.0161 17.0179 12.9148L17.0238 12.9005C17.0655 12.7996 17.1593 12.7344 17.2628 12.7344H17.6562C18.9486 12.7344 20 11.683 20 10.3907V9.60941C20 8.31707 18.9486 7.26566 17.6562 7.26566ZM18.4375 10.3906C18.4375 10.8214 18.087 11.1719 17.6562 11.1719H17.2628C16.5243 11.1719 15.8636 11.6163 15.5796 12.304L15.5745 12.3163C15.2895 13.0037 15.4423 13.785 15.9642 14.307L16.2425 14.5852C16.39 14.7327 16.4713 14.9289 16.4713 15.1376C16.4713 15.3463 16.39 15.5424 16.2424 15.69L15.69 16.2424C15.5424 16.39 15.3463 16.4713 15.1376 16.4713C14.9289 16.4713 14.7327 16.39 14.5852 16.2424L14.3069 15.9642C13.7847 15.4421 13.003 15.2893 12.3151 15.575L12.3041 15.5796C11.6163 15.8636 11.1719 16.5243 11.1719 17.2627V17.6562C11.1719 18.087 10.8214 18.4375 10.3906 18.4375H9.60938C9.17859 18.4375 8.82812 18.087 8.82812 17.6562V17.2627C8.82812 16.5243 8.38371 15.8636 7.69512 15.5793L7.68457 15.5749C7.45449 15.4793 7.21398 15.4329 6.97609 15.4329C6.50301 15.4329 6.04051 15.6168 5.69305 15.9642L5.41484 16.2425C5.26727 16.39 5.07113 16.4713 4.86242 16.4713C4.65375 16.4713 4.45754 16.39 4.31 16.2424L3.75758 15.69C3.61 15.5424 3.52875 15.3463 3.52875 15.1376C3.52875 14.9289 3.61 14.7327 3.75758 14.5852L4.03578 14.307C4.5577 13.785 4.71059 13.0037 4.42547 12.3163L4.42039 12.304C4.13633 11.6163 3.47566 11.1719 2.73723 11.1719H2.34375C1.91297 11.1719 1.5625 10.8214 1.5625 10.3906V9.60938C1.5625 9.17859 1.91297 8.82812 2.34375 8.82812H2.73723C3.4757 8.82812 4.13637 8.38375 4.42145 7.69348L4.42508 7.68461C4.7107 6.99695 4.55789 6.21523 4.03574 5.69305L3.75758 5.41488C3.45293 5.11023 3.45293 4.61461 3.75758 4.31L4.30996 3.75758C4.45758 3.61004 4.65375 3.52875 4.86242 3.52875C5.07113 3.52875 5.2673 3.61 5.41484 3.75758L5.69309 4.03582C6.21531 4.55793 6.99707 4.71074 7.68492 4.42496L7.69594 4.42039C8.38371 4.13641 8.82812 3.47574 8.82812 2.73727V2.34375C8.82812 1.91297 9.17859 1.5625 9.60938 1.5625H10.3906C10.8214 1.5625 11.1719 1.91297 11.1719 2.34375V2.73727C11.1719 3.47574 11.6163 4.13641 12.3049 4.4207L12.3154 4.42508C13.003 4.71062 13.7847 4.55785 14.307 4.03574L14.5852 3.7575C14.7327 3.60996 14.9289 3.52871 15.1376 3.52871C15.3463 3.52871 15.5425 3.61 15.69 3.75754L16.2424 4.30996C16.5471 4.61457 16.5471 5.1102 16.2425 5.4148L15.9642 5.69305C15.4421 6.21523 15.2893 6.99691 15.5737 7.68172L15.5796 7.69598C15.8637 8.38375 16.5243 8.82812 17.2628 8.82812H17.6562C18.087 8.82812 18.4375 9.17859 18.4375 9.60938V10.3906Z' fill='%23000000'/%3E%3C/svg%3E");
    transition: 0.3s;
}

.fire-icon-red {
    width: 12px;
    height: 14px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2201 8.19681C11.0597 6.10887 10.0876 4.80044 9.22998 3.64582C8.43586 2.5769 7.75 1.65383 7.75 0.292166C7.75 0.182791 7.68875 0.0828225 7.59163 0.0327014C7.4942 -0.0177205 7.37714 -0.00946268 7.28857 0.0549045C6.00057 0.976553 4.92591 2.52992 4.55051 4.01206C4.28989 5.04394 4.25541 6.20397 4.25057 6.97011C3.06112 6.71606 2.79168 4.93686 2.78883 4.91747C2.77543 4.82519 2.71905 4.74488 2.63702 4.70102C2.55414 4.65773 2.45671 4.65459 2.37269 4.69618C2.31032 4.72637 0.841711 5.47258 0.756262 8.45198C0.750273 8.5511 0.75 8.65052 0.75 8.74992C0.75 11.6444 3.10525 13.9996 6 13.9996C6.00399 13.9998 6.00826 14.0004 6.01168 13.9996C6.01282 13.9996 6.01395 13.9996 6.01537 13.9996C8.903 13.9913 11.25 11.6393 11.25 8.74992C11.25 8.60437 11.2201 8.19681 11.2201 8.19681ZM6 13.4163C5.03498 13.4163 4.25 12.5801 4.25 11.5522C4.25 11.5172 4.24973 11.4818 4.25227 11.4385C4.26395 11.0051 4.34628 10.7092 4.43657 10.5123C4.60577 10.8758 4.90825 11.2098 5.39959 11.2098C5.5608 11.2098 5.69126 11.0794 5.69126 10.9182C5.69126 10.503 5.69982 10.0239 5.80321 9.59153C5.89522 9.20817 6.11509 8.80031 6.39367 8.47336C6.51756 8.89774 6.75912 9.2412 6.99496 9.57644C7.33249 10.056 7.68139 10.5519 7.74264 11.3975C7.74634 11.4477 7.75006 11.4981 7.75006 11.5522C7.75 12.58 6.96502 13.4163 6 13.4163Z' fill='%23EF0D33'/%3E%3C/svg%3E");
}

.fire-icon-orange {
    width: 12px;
    height: 14px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2201 8.19681C11.0597 6.10887 10.0876 4.80044 9.22998 3.64582C8.43586 2.5769 7.75 1.65383 7.75 0.292166C7.75 0.182791 7.68875 0.0828225 7.59163 0.0327014C7.4942 -0.0177205 7.37714 -0.00946268 7.28857 0.0549045C6.00057 0.976553 4.92591 2.52992 4.55051 4.01206C4.28989 5.04394 4.25541 6.20397 4.25057 6.97011C3.06112 6.71606 2.79168 4.93686 2.78883 4.91747C2.77543 4.82519 2.71905 4.74488 2.63702 4.70102C2.55414 4.65773 2.45671 4.65459 2.37269 4.69618C2.31032 4.72637 0.841711 5.47258 0.756262 8.45198C0.750273 8.5511 0.75 8.65052 0.75 8.74992C0.75 11.6444 3.10525 13.9996 6 13.9996C6.00399 13.9998 6.00826 14.0004 6.01168 13.9996C6.01282 13.9996 6.01395 13.9996 6.01537 13.9996C8.903 13.9913 11.25 11.6393 11.25 8.74992C11.25 8.60437 11.2201 8.19681 11.2201 8.19681ZM6 13.4163C5.03498 13.4163 4.25 12.5801 4.25 11.5522C4.25 11.5172 4.24973 11.4818 4.25227 11.4385C4.26395 11.0051 4.34628 10.7092 4.43657 10.5123C4.60577 10.8758 4.90825 11.2098 5.39959 11.2098C5.5608 11.2098 5.69126 11.0794 5.69126 10.9182C5.69126 10.503 5.69982 10.0239 5.80321 9.59153C5.89522 9.20817 6.11509 8.80031 6.39367 8.47336C6.51756 8.89774 6.75912 9.2412 6.99496 9.57644C7.33249 10.056 7.68139 10.5519 7.74264 11.3975C7.74634 11.4477 7.75006 11.4981 7.75006 11.5522C7.75 12.58 6.96502 13.4163 6 13.4163Z' fill='%23FFA500'/%3E%3C/svg%3E");
}

.updown-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='7' height='11' viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 0L0 3.5H7L3.5 0Z' fill='%232C333F'/%3E%3Cpath d='M3.5 10.5L7 7L3.0598e-07 7L3.5 10.5Z' fill='%232C333F'/%3E%3C/svg%3E");
    width: 12px;
    height: 14px;
}

.updown-icon-red {
    width: 12px;
    height: 14px;
}

.icon-search-black {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='2 3 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='12' r='6' stroke='%23000000' stroke-width='2'/%3E%3Cpath d='M16 16L20 20' stroke='%23000000' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
}

.icon-search-white {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='2 3 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='12' r='6' stroke='%23ffffff' stroke-width='2'/%3E%3Cpath d='M16 16L20 20' stroke='%23ffffff' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
}

.icon-edit-red {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.1798 0.820477C12.6507 0.291375 11.9473 0 11.1991 0C10.4509 0 9.74746 0.291375 9.21839 0.820449L1.39001 8.64886C1.3234 8.71546 1.27514 8.79815 1.24987 8.88891L0.0202802 13.3065C-0.0327393 13.497 0.0212099 13.7014 0.161456 13.8408C0.265362 13.9442 0.404597 14 0.547167 14C0.596987 14 0.647245 13.9932 0.696546 13.9792L5.11412 12.7243C5.3005 12.6714 5.44498 12.5238 5.49387 12.3363C5.54276 12.1488 5.48878 11.9494 5.35198 11.8122L2.56697 9.01871L9.05605 2.5296L11.4694 4.9429L6.50171 9.89702C6.28785 10.1103 6.28739 10.4566 6.50067 10.6704C6.71392 10.8843 7.06023 10.8847 7.27406 10.6715L13.1798 4.78185C13.7089 4.25277 14.0002 3.54936 14.0002 2.80115C14.0002 2.05294 13.7089 1.34952 13.1798 0.820477ZM3.92119 11.9262L1.33535 12.6607L2.05955 10.0589L3.92119 11.9262ZM12.4069 4.00791L12.2438 4.17058L9.82947 1.75621L9.99184 1.59384C10.3143 1.27135 10.743 1.09375 11.1991 1.09375C11.6552 1.09375 12.0839 1.27135 12.4064 1.59387C12.7289 1.91633 12.9065 2.34508 12.9065 2.80115C12.9065 3.25722 12.7289 3.68596 12.4069 4.00791Z' fill='%23EF0D33'/%3E%3C/svg%3E");
}

.icon-search-red {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='2 3 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='12' r='6' stroke='%23EF0D33' stroke-width='2'/%3E%3Cpath d='M16 16L20 20' stroke='%23EF0D33' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
}

.left-arrow {
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='20' viewBox='0 1 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M6 1L1 6.5L6 12' stroke='%232C333F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E");
}

.right-arrow {
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='20' viewBox='0 1 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M0.999999 12L6 6.5L1 0.999999' stroke='%232C333F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E");
}

.icon-download-red {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 8V12.5H13V8M7 10V1M7 1L3.5 4.5M7 1L10.5 4.5' stroke-width='2' stroke='%23EF0D33' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.icon-trash-red {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9844 4.10742H10.9121V3.52344C10.9121 2.68341 10.2287 2 9.38867 2H7.61133C6.7713 2 6.08789 2.68341 6.08789 3.52344V4.10742H3.01562C2.73516 4.10742 2.50781 4.33477 2.50781 4.61523C2.50781 4.8957 2.73516 5.12305 3.01562 5.12305H3.54152L4.16039 13.1462C4.16056 13.1485 4.16077 13.1509 4.16097 13.1532C4.20708 13.6591 4.4391 14.1263 4.81427 14.4689C5.18944 14.8114 5.67583 15 6.18382 15H10.8162C11.8741 15 12.7438 14.2121 12.839 13.1672C12.8645 12.8879 12.6587 12.6409 12.3794 12.6154C12.0999 12.5899 11.8531 12.7957 11.8276 13.075C11.7803 13.5934 11.3455 13.9844 10.8162 13.9844H6.18382C5.65628 13.9844 5.22215 13.589 5.17269 13.0642L4.56016 5.12305H12.4398L12.0061 10.7461C11.9846 11.0257 12.1938 11.2699 12.4734 11.2915C12.4867 11.2925 12.4999 11.293 12.513 11.293C12.7757 11.293 12.9982 11.0905 13.0187 10.8242L13.4585 5.12305H13.9844C14.2648 5.12305 14.4922 4.8957 14.4922 4.61523C14.4922 4.33477 14.2648 4.10742 13.9844 4.10742ZM9.89648 4.10742H7.10352V3.52344C7.10352 3.24343 7.33132 3.01562 7.61133 3.01562H9.38867C9.66868 3.01562 9.89648 3.24343 9.89648 3.52344V4.10742Z' fill='%23EF0D33'/%3E%3Cpath d='M6.19263 6.13913C5.91244 6.15137 5.69522 6.38842 5.70746 6.66863L5.96137 12.4814C5.97328 12.754 6.19806 12.9671 6.46832 12.9671C6.47578 12.9671 6.48332 12.9669 6.49086 12.9665C6.77105 12.9543 6.98827 12.7173 6.97603 12.437L6.72212 6.62427C6.70988 6.34411 6.47238 6.12654 6.19263 6.13913Z' fill='%23EF0D33'/%3E%3Cpath d='M10.2778 6.62432L10.0239 12.4371C10.0116 12.7173 10.2288 12.9544 10.509 12.9666C10.5166 12.9669 10.5241 12.9671 10.5316 12.9671C10.8018 12.9671 11.0266 12.7541 11.0385 12.4814L11.2924 6.66868C11.3047 6.3885 11.0875 6.15142 10.8073 6.13919C10.5275 6.12667 10.29 6.34414 10.2778 6.62432Z' fill='%23EF0D33'/%3E%3Cpath d='M7.99219 6.64648V12.4592C7.99219 12.7397 8.21954 12.967 8.5 12.967C8.78046 12.967 9.00781 12.7397 9.00781 12.4592V6.64648C9.00781 6.36602 8.78046 6.13867 8.5 6.13867C8.21954 6.13867 7.99219 6.36602 7.99219 6.64648Z' fill='%23EF0D33'/%3E%3C/svg%3E");
}

.icon-reset-black {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='20' height='20' viewBox='0 0 172 172' style=' fill:%23000000;'%3E%3Cg fill='none' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cpath d='M0,172v-172h172v172z' fill='none'%3E%3C/path%3E%3Cg fill='%23000000'%3E%3Cpath d='M86,6.88c-43.61533,0 -79.12,35.50467 -79.12,79.12c0,43.61533 35.50467,79.12 79.12,79.12c43.61533,0 79.12,-35.50467 79.12,-79.12c0.03509,-2.48118 -1.2685,-4.78904 -3.41161,-6.03987c-2.1431,-1.25083 -4.79369,-1.25083 -6.93679,0c-2.1431,1.25083 -3.4467,3.55869 -3.41161,6.03987c0,36.17891 -29.18109,65.36 -65.36,65.36c-36.17891,0 -65.36,-29.18109 -65.36,-65.36c0,-36.17891 29.18109,-65.36 65.36,-65.36c18.83675,0 35.74811,7.93958 47.66281,20.64h-13.26281c-2.48118,-0.03509 -4.78904,1.2685 -6.03987,3.41161c-1.25083,2.1431 -1.25083,4.79369 0,6.93679c1.25083,2.1431 3.55869,3.4467 6.03987,3.41161h37.84v-37.84c0.02542,-1.85848 -0.7021,-3.6482 -2.01701,-4.96184c-1.3149,-1.31364 -3.10532,-2.03944 -4.96378,-2.01223c-3.79707,0.05565 -6.83116,3.17694 -6.77922,6.97406v15.56734c-14.48061,-15.88829 -35.3368,-25.88734 -58.48,-25.88734z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.ic-two-employees {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 17 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Csvg width='20' height='10' viewBox='-4 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9487 17.1371C19.8608 16.7147 19.4472 16.4436 19.0246 16.5315C18.6022 16.6195 18.3311 17.0332 18.4191 17.4556C18.4697 17.6989 18.4094 17.9482 18.2536 18.1399C18.1634 18.2509 17.9622 18.437 17.6287 18.437H2.37074C2.03723 18.437 1.83603 18.2508 1.7458 18.1399C1.58998 17.9483 1.52967 17.6989 1.58033 17.4556C2.39109 13.5613 5.82595 10.7167 9.7926 10.6207C9.86131 10.6234 9.93033 10.6247 9.9997 10.6247C10.0693 10.6247 10.1386 10.6233 10.2076 10.6207C13.0017 10.6877 15.5843 12.1029 17.1483 14.4354C17.3886 14.7938 17.8738 14.8895 18.2322 14.6492C18.5906 14.409 18.6863 13.9237 18.446 13.5653C17.1642 11.6535 15.3028 10.2633 13.1804 9.56477C14.4737 8.59492 15.3121 7.04969 15.3121 5.31235C15.3121 2.38314 12.929 0 9.9997 0C7.07045 0 4.68735 2.38314 4.68735 5.31235C4.68735 7.05074 5.5267 8.59679 6.82139 9.56657C5.63518 9.9571 4.52212 10.5648 3.54793 11.3661C1.76158 12.8355 0.519541 14.885 0.0506867 17.1371C-0.0962623 17.8428 0.0797874 18.5676 0.533603 19.1257C0.985192 19.681 1.65482 19.9994 2.37074 19.9994H17.6286C18.3446 19.9994 19.0142 19.681 19.4658 19.1257C19.9197 18.5676 20.0957 17.8428 19.9487 17.1371ZM6.24981 5.31235C6.24981 3.24464 7.93199 1.56246 9.9997 1.56246C12.0674 1.56246 13.7496 3.24464 13.7496 5.31235C13.7496 7.3164 12.1694 8.9583 10.1895 9.05748C10.1263 9.05631 10.0631 9.05572 9.9997 9.05572C9.93666 9.05572 9.87361 9.05635 9.81065 9.05752C7.83043 8.95873 6.24981 7.31667 6.24981 5.31235Z' fill='%23cc0000'/%3E%3C/svg%3E%3Csvg width='20' height='10' viewBox='10 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9487 17.1371C19.8608 16.7147 19.4472 16.4436 19.0246 16.5315C18.6022 16.6195 18.3311 17.0332 18.4191 17.4556C18.4697 17.6989 18.4094 17.9482 18.2536 18.1399C18.1634 18.2509 17.9622 18.437 17.6287 18.437H2.37074C2.03723 18.437 1.83603 18.2508 1.7458 18.1399C1.58998 17.9483 1.52967 17.6989 1.58033 17.4556C2.39109 13.5613 5.82595 10.7167 9.7926 10.6207C9.86131 10.6234 9.93033 10.6247 9.9997 10.6247C10.0693 10.6247 10.1386 10.6233 10.2076 10.6207C13.0017 10.6877 15.5843 12.1029 17.1483 14.4354C17.3886 14.7938 17.8738 14.8895 18.2322 14.6492C18.5906 14.409 18.6863 13.9237 18.446 13.5653C17.1642 11.6535 15.3028 10.2633 13.1804 9.56477C14.4737 8.59492 15.3121 7.04969 15.3121 5.31235C15.3121 2.38314 12.929 0 9.9997 0C7.07045 0 4.68735 2.38314 4.68735 5.31235C4.68735 7.05074 5.5267 8.59679 6.82139 9.56657C5.63518 9.9571 4.52212 10.5648 3.54793 11.3661C1.76158 12.8355 0.519541 14.885 0.0506867 17.1371C-0.0962623 17.8428 0.0797874 18.5676 0.533603 19.1257C0.985192 19.681 1.65482 19.9994 2.37074 19.9994H17.6286C18.3446 19.9994 19.0142 19.681 19.4658 19.1257C19.9197 18.5676 20.0957 17.8428 19.9487 17.1371ZM6.24981 5.31235C6.24981 3.24464 7.93199 1.56246 9.9997 1.56246C12.0674 1.56246 13.7496 3.24464 13.7496 5.31235C13.7496 7.3164 12.1694 8.9583 10.1895 9.05748C10.1263 9.05631 10.0631 9.05572 9.9997 9.05572C9.93666 9.05572 9.87361 9.05635 9.81065 9.05752C7.83043 8.95873 6.24981 7.31667 6.24981 5.31235Z' fill='%23cc0000'/%3E%3C/svg%3E%3C/svg%3E");
}

.manager-img {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9487 17.1371C19.8608 16.7147 19.4472 16.4436 19.0246 16.5315C18.6022 16.6195 18.3311 17.0332 18.4191 17.4556C18.4697 17.6989 18.4094 17.9482 18.2536 18.1399C18.1634 18.2509 17.9622 18.437 17.6287 18.437H2.37074C2.03723 18.437 1.83603 18.2508 1.7458 18.1399C1.58998 17.9483 1.52967 17.6989 1.58033 17.4556C2.39109 13.5613 5.82595 10.7167 9.7926 10.6207C9.86131 10.6234 9.93033 10.6247 9.9997 10.6247C10.0693 10.6247 10.1386 10.6233 10.2076 10.6207C13.0017 10.6877 15.5843 12.1029 17.1483 14.4354C17.3886 14.7938 17.8738 14.8895 18.2322 14.6492C18.5906 14.409 18.6863 13.9237 18.446 13.5653C17.1642 11.6535 15.3028 10.2633 13.1804 9.56477C14.4737 8.59492 15.3121 7.04969 15.3121 5.31235C15.3121 2.38314 12.929 0 9.9997 0C7.07045 0 4.68735 2.38314 4.68735 5.31235C4.68735 7.05074 5.5267 8.59679 6.82139 9.56657C5.63518 9.9571 4.52212 10.5648 3.54793 11.3661C1.76158 12.8355 0.519541 14.885 0.0506867 17.1371C-0.0962623 17.8428 0.0797874 18.5676 0.533603 19.1257C0.985192 19.681 1.65482 19.9994 2.37074 19.9994H17.6286C18.3446 19.9994 19.0142 19.681 19.4658 19.1257C19.9197 18.5676 20.0957 17.8428 19.9487 17.1371ZM6.24981 5.31235C6.24981 3.24464 7.93199 1.56246 9.9997 1.56246C12.0674 1.56246 13.7496 3.24464 13.7496 5.31235C13.7496 7.3164 12.1694 8.9583 10.1895 9.05748C10.1263 9.05631 10.0631 9.05572 9.9997 9.05572C9.93666 9.05572 9.87361 9.05635 9.81065 9.05752C7.83043 8.95873 6.24981 7.31667 6.24981 5.31235Z' fill='%23CC0000'/%3E%3C/svg%3E");
}

.plus-icon {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6H11M6 1V11' stroke='%23EF0D33' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}

.icon-calendar-black {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.4141 10.3125C14.7377 10.3125 15 10.0502 15 9.72656V3.51562C15 2.22328 13.9486 1.17188 12.6562 1.17188H11.8945V0.585938C11.8945 0.262324 11.6322 0 11.3086 0C10.985 0 10.7227 0.262324 10.7227 0.585938V1.17188H8.05664V0.585938C8.05664 0.262324 7.79432 0 7.4707 0C7.14709 0 6.88477 0.262324 6.88477 0.585938V1.17188H4.24805V0.585938C4.24805 0.262324 3.98572 0 3.66211 0C3.3385 0 3.07617 0.262324 3.07617 0.585938V1.17188H2.34375C1.05141 1.17188 0 2.22328 0 3.51562V12.6562C0 13.9486 1.05141 15 2.34375 15H12.6562C13.9486 15 15 13.9486 15 12.6562C15 12.3326 14.7377 12.0703 14.4141 12.0703C14.0904 12.0703 13.8281 12.3326 13.8281 12.6562C13.8281 13.3024 13.3024 13.8281 12.6562 13.8281H2.34375C1.69758 13.8281 1.17188 13.3024 1.17188 12.6562V3.51562C1.17188 2.86945 1.69758 2.34375 2.34375 2.34375H3.07617V2.92969C3.07617 3.2533 3.3385 3.51562 3.66211 3.51562C3.98572 3.51562 4.24805 3.2533 4.24805 2.92969V2.34375H6.88477V2.92969C6.88477 3.2533 7.14709 3.51562 7.4707 3.51562C7.79432 3.51562 8.05664 3.2533 8.05664 2.92969V2.34375H10.7227V2.92969C10.7227 3.2533 10.985 3.51562 11.3086 3.51562C11.6322 3.51562 11.8945 3.2533 11.8945 2.92969V2.34375H12.6562C13.3024 2.34375 13.8281 2.86945 13.8281 3.51562V9.72656C13.8281 10.0502 14.0904 10.3125 14.4141 10.3125Z' fill='%232C333F'/%3E%3Cpath d='M3.66211 6.73828C3.98571 6.73828 4.24805 6.47595 4.24805 6.15234C4.24805 5.82874 3.98571 5.56641 3.66211 5.56641C3.33851 5.56641 3.07617 5.82874 3.07617 6.15234C3.07617 6.47595 3.33851 6.73828 3.66211 6.73828Z' fill='%232C333F'/%3E%3Cpath d='M8.75977 6.73828C9.08337 6.73828 9.3457 6.47595 9.3457 6.15234C9.3457 5.82874 9.08337 5.56641 8.75977 5.56641C8.43616 5.56641 8.17383 5.82874 8.17383 6.15234C8.17383 6.47595 8.43616 6.73828 8.75977 6.73828Z' fill='%232C333F'/%3E%3Cpath d='M11.3086 6.73828C11.6322 6.73828 11.8945 6.47595 11.8945 6.15234C11.8945 5.82874 11.6322 5.56641 11.3086 5.56641C10.985 5.56641 10.7227 5.82874 10.7227 6.15234C10.7227 6.47595 10.985 6.73828 11.3086 6.73828Z' fill='%232C333F'/%3E%3Cpath d='M3.66211 9.28711C3.98571 9.28711 4.24805 9.02478 4.24805 8.70117C4.24805 8.37757 3.98571 8.11523 3.66211 8.11523C3.33851 8.11523 3.07617 8.37757 3.07617 8.70117C3.07617 9.02478 3.33851 9.28711 3.66211 9.28711Z' fill='%232C333F'/%3E%3Cpath d='M3.66211 11.8359C3.98571 11.8359 4.24805 11.5736 4.24805 11.25C4.24805 10.9264 3.98571 10.6641 3.66211 10.6641C3.33851 10.6641 3.07617 10.9264 3.07617 11.25C3.07617 11.5736 3.33851 11.8359 3.66211 11.8359Z' fill='%232C333F'/%3E%3Cpath d='M6.21094 6.73828C6.53454 6.73828 6.79688 6.47595 6.79688 6.15234C6.79688 5.82874 6.53454 5.56641 6.21094 5.56641C5.88733 5.56641 5.625 5.82874 5.625 6.15234C5.625 6.47595 5.88733 6.73828 6.21094 6.73828Z' fill='%232C333F'/%3E%3Cpath d='M6.21094 9.28711C6.53454 9.28711 6.79688 9.02478 6.79688 8.70117C6.79688 8.37757 6.53454 8.11523 6.21094 8.11523C5.88733 8.11523 5.625 8.37757 5.625 8.70117C5.625 9.02478 5.88733 9.28711 6.21094 9.28711Z' fill='%232C333F'/%3E%3Cpath d='M6.21094 11.8359C6.53454 11.8359 6.79688 11.5736 6.79688 11.25C6.79688 10.9264 6.53454 10.6641 6.21094 10.6641C5.88733 10.6641 5.625 10.9264 5.625 11.25C5.625 11.5736 5.88733 11.8359 6.21094 11.8359Z' fill='%232C333F'/%3E%3Cpath d='M8.75977 9.28711C9.08337 9.28711 9.3457 9.02478 9.3457 8.70117C9.3457 8.37757 9.08337 8.11523 8.75977 8.11523C8.43616 8.11523 8.17383 8.37757 8.17383 8.70117C8.17383 9.02478 8.43616 9.28711 8.75977 9.28711Z' fill='%232C333F'/%3E%3Cpath d='M11.3086 9.28711C11.6322 9.28711 11.8945 9.02478 11.8945 8.70117C11.8945 8.37757 11.6322 8.11523 11.3086 8.11523C10.985 8.11523 10.7227 8.37757 10.7227 8.70117C10.7227 9.02478 10.985 9.28711 11.3086 9.28711Z' fill='%232C333F'/%3E%3Cpath d='M8.75977 11.8359C9.08337 11.8359 9.3457 11.5736 9.3457 11.25C9.3457 10.9264 9.08337 10.6641 8.75977 10.6641C8.43616 10.6641 8.17383 10.9264 8.17383 11.25C8.17383 11.5736 8.43616 11.8359 8.75977 11.8359Z' fill='%232C333F'/%3E%3C/svg%3E");
}
.icon-lock {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15pt' height='15pt' viewBox='0 0 15 15' version='1.1'%3E%3Cg id='surface1'%3E%3Cpath style=' stroke:none;' d='M 7.1875 0.015625 C 7.167969 0.015625 7.105469 0.0234375 7.042969 0.0273438 C 5.65625 0.160156 4.507812 0.96875 3.933594 2.214844 C 3.597656 2.949219 3.46875 3.660156 3.46875 4.785156 L 3.46875 5.203125 L 5.207031 5.203125 L 5.207031 4.78125 C 5.207031 3.875 5.300781 3.378906 5.5625 2.859375 C 5.992188 2.011719 6.777344 1.640625 7.890625 1.765625 C 8.75 1.863281 9.328125 2.355469 9.613281 3.238281 C 9.761719 3.691406 9.8125 4.101562 9.8125 4.882812 L 9.8125 5.203125 L 11.542969 5.203125 L 11.539062 4.648438 C 11.535156 4.007812 11.515625 3.785156 11.441406 3.390625 C 11.066406 1.453125 9.855469 0.261719 8.023438 0.03125 C 7.902344 0.0195312 7.28125 0.00390625 7.1875 0.015625 M 3.214844 5.789062 C 2.421875 5.910156 1.824219 6.542969 1.746094 7.335938 C 1.730469 7.480469 1.730469 13.292969 1.746094 13.433594 C 1.824219 14.21875 2.371094 14.808594 3.167969 14.976562 C 3.261719 15 11.5625 15.007812 11.738281 14.988281 C 12.527344 14.902344 13.15625 14.285156 13.257812 13.5 C 13.28125 13.34375 13.28125 7.433594 13.257812 7.273438 C 13.164062 6.535156 12.636719 5.976562 11.875 5.800781 L 11.785156 5.777344 L 7.542969 5.777344 C 3.972656 5.777344 3.285156 5.777344 3.214844 5.789062 M 7.785156 8.695312 C 8.738281 8.949219 8.964844 10.199219 8.152344 10.746094 L 8.082031 10.796875 L 8.078125 11.507812 C 8.074219 12.308594 8.078125 12.265625 7.996094 12.402344 C 7.765625 12.785156 7.207031 12.773438 7.003906 12.378906 C 6.9375 12.25 6.9375 12.273438 6.9375 11.496094 L 6.9375 10.796875 L 6.894531 10.769531 C 6.382812 10.453125 6.210938 9.777344 6.503906 9.25 C 6.753906 8.804688 7.300781 8.566406 7.785156 8.695312' fill='%23EF0D33' /%3E%3C/g%3E%3C/svg%3E%0A");
}

.icon-clock-red {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8033 2.19668C11.3867 0.780147 9.50332 0 7.5 0C5.49668 0 3.61327 0.780147 2.19668 2.19668C0.780147 3.61327 0 5.49668 0 7.5C0 9.50332 0.780147 11.3867 2.19668 12.8033C3.61327 14.2199 5.49668 15 7.5 15C8.87147 15 10.2134 14.6263 11.3807 13.9192C11.6575 13.7515 11.746 13.3912 11.5783 13.1144C11.4107 12.8376 11.0503 12.7492 10.7736 12.9168C9.78935 13.513 8.65737 13.8281 7.5 13.8281C4.01065 13.8281 1.17188 10.9893 1.17188 7.5C1.17188 4.01065 4.01065 1.17188 7.5 1.17188C10.9893 1.17188 13.8281 4.01065 13.8281 7.5C13.8281 8.74772 13.4571 9.96223 12.7551 11.0123C12.5752 11.2813 12.6475 11.6452 12.9165 11.825C13.1856 12.0049 13.5494 11.9326 13.7293 11.6636C14.5606 10.4201 15 8.9804 15 7.5C15 5.49668 14.2199 3.61327 12.8033 2.19668Z' fill='%23EF0D33'/%3E%3Cpath d='M7.50001 2.22656C7.1764 2.22656 6.91407 2.48889 6.91407 2.8125V7.25731L4.7655 9.40588C4.53666 9.63469 4.53666 10.0057 4.7655 10.2345C4.8799 10.3489 5.02985 10.4061 5.17982 10.4061C5.32979 10.4061 5.47973 10.3489 5.59413 10.2345L7.91433 7.91432C8.02422 7.80445 8.08595 7.65539 8.08595 7.5V2.8125C8.08595 2.48889 7.82362 2.22656 7.50001 2.22656Z' fill='%23EF0D33'/%3E%3C/svg%3E");
}
