﻿.active-ddlist {
    background: rgba(255, 255, 255, 0.05);
}

    .active-ddlist .left-element {
        width: 5px;
    }

.ddlist {
    height: 60px;
    outline: none;
    cursor: pointer;
    color: white;
    display: flex;
    flex-flow: row;
    position: relative;
}

    .ddlist span {
        display: block;
    }

    .ddlist #fullName {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 1px;
    }

    .ddlist #userEmail {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        color: #ACACAC;
        font-size: 10px;
    }

    .ddlist:hover .left-element {
        width: 5px;
        transition: .3s
    }


body {
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
    font-weight: normal;
    background-color: #E5E5E5;
    margin-bottom: 0;
}

.red-hover:hover {
    color: #EF0D33;
    transition: .3s;
    cursor: pointer
}

.clickable-text:active {
    font-size: 12px
}

.InputOfSkill {
    font-size: 14px;
    width: 70%;
    display: flex;
    min-height: 50%;
}

.visible {
    visibility: visible;
}

.menu-block {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 0;
    width: 180px;
    display: flex;
    flex-flow: column;
    background-color: #FFF;
    z-index: 1000;
    position: absolute;
    padding: 10px 0 10px 0;
    left: 170px;
    bottom: 15px;
}

    .menu-block a {
        text-decoration: none;
        color: black;
        padding: 10px 0 10px 30px;
        cursor: pointer;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
    }

        .menu-block a:hover {
            background-color: #F2C94C;
        }

.talent-table-settings {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 0;
    width: 180px;
    background-color: #FFF;
    z-index: 1000;
    position: fixed;
    padding: 20px;
    right: 90px;

}

    .talent-table-settings .talent-dropdown-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 24px;
        padding: 3px;
        margin-bottom: 15px;
    }

    .talent-table-settings .talent-dropdown-item-text {
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        color: black;
    }

    .talent-table-settings .talent-checkbox {
        margin: 0 10px 0 0;
    }

.settings-arrow-red {
    width: 8px;
    height: 8px;
    border: 1px solid #EF0D33;
    border-top: none;
    border-left: none;
    margin-right: 5px;
    margin-left: 5px;
}

#loadingDiv {
    z-index: 1100;
    position: absolute;
    display: none;
}

    #loadingDiv .loaderContainer {
        background: rgba(0, 0, 0, 0.2);
        width: 100vw;
        min-height: 100vh;
        position: relative
    }

.loader {
    border: 6px solid #F2C94C;
    border-radius: 50%;
    border-top: 6px solid #EF0D33;
    width: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
