﻿/*.font-sifonn {
    font-family: "Sifonn Pro"
}

.font-sifonn-14 {
    font-family: "Sifonn Pro";
    font-size: 14px
}

.font-sifonn-16 {
    font-family: "Sifonn Pro";
    font-size: 16px
}

.font-roboto {
    font-family: "roboto"
}

.font-roboto-14 {
    font-family: "roboto";
    font-size: 14px
}

.font-roboto-16 {
    font-family: "roboto";
    font-size: 16px
}

.font-slim {
    color: rgba(44,51,63,0.5);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400
}*/
