<div *ngFor="let category of SkillCategories" id="{{category.id}}" class="container-fluid mb-3">
  <div class="row d-flex align-items-center">
    <span class="font-sifonn-14 mr-1" style="letter-spacing: 0.75px;text-transform: uppercase;color: #2C333F">{{ category.title }}</span>
    <div  data-id="{{category.id}}" class="plus-icon SkillCreateAndEdit cursor-pointer" style="width:15px;height:15px;"></div>
<!--    data-name={{category.title}}-->
  </div>
  <div class="d-inline-flex col-lg-12 row p-0">
<!--    @foreach (var employeeSkill in Model.EmployeeSkillViews.Where(s => s.CategoryId == skillCategory.Id))-->

    <div *ngFor="let skill of category.SkillsList" id={{skill.id}} class="talent-row col-lg-4 font-roboto">

      <div class="d-flex flex-row justify-content-between">
        <strong data-name="@skillCategory.Title" data-id=@employeeSkill.Id style=" box-shadow:none" class="editSkillPOUP">{{skill.skillName}}</strong>
        <div data-name="@skillCategory.Title" data-catid="@skillCategory.Id" data-id=@employeeSkill.Id class="editSkillPOUP" style="flex:auto; box-shadow:none"></div>
        <div [ngSwitch]="skill.mark" class="d-flex flex-row align-items-center">
          <span  class="dot " style="background: #EF0D33;"></span>
          <ng-template ngSwitchCase="1">
            <span class="dot " style="background: #C4C4C4;"></span>
            <span class="dot " style="background: #C4C4C4;"></span>
          </ng-template>
          <ng-template ngSwitchCase="2">
            <span class="dot " style="background: #EF0D33;"></span>
            <span class="dot " style="background: #C4C4C4;"></span>
          </ng-template>
          <ng-template ngSwitchCase="3">
            <span class="dot " style="background: #EF0D33;"></span>
            <span class="dot " style="background: #EF0D33;"></span>
          </ng-template>


          <img data-id="@employeeSkill.Id" data-catid="@skillCategory.Id" class=" m-0 ml-1 edit-delete-group skillDeleteBtn" src="assets/images/ic_trash.svg" />
        </div>
      </div>
    </div>

  </div>
</div>
