.modal-open {
  overflow: hidden;

  .backdrop {
    z-index: 1;
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.56);
  }
  .backdrop-show{
      left: 0;
      opacity: 1;
      transition: opacity .1s ease;
  }

  .modal {
    position: fixed;
    top: 10%;
    bottom: auto;
    left: 35%;
    width: 600px;
    background: white;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
    display: none;

    .modal-header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 1rem;
    }

    .modal-body {
      position: relative;
      padding: 1rem;
      flex: 1 1 auto;
    }

    .modal-footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 1rem;
    }
  }

  .modal-show {
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    height: max-content;
  }
}
