
  <div class="modal-open" role="document">
  <div [ngClass]="{'backdrop-show': isOpened}" (click)="dismiss()" class="backdrop"></div>
  <div [ngClass]="{'modal-show': isOpened}" class="modal ">


      <ng-container [cdkPortalOutlet]="componentPortal"></ng-container>

  </div>
  </div>

