<button *ngIf="!isAuthenticated" (click)="login()">Login</button>
<!--<button (click)="login1()">Logууin</button>-->
<!--<button (click)="login2()">userdata</button>-->
<!--<a href="http://localhost:58101/api/account/login?returnUrl=http://localhost:4200/">Logууin mfc</a>-->
<button *ngIf="isAuthenticated" (click)="logout()">Logout</button>

<!--<hr />-->
<!--state: {{state}}-->
<!--Is Authenticated: {{ isAuthenticated }}-->

<!--<br />-->
<!--&lt;!&ndash;<br />&ndash;&gt;-->
<!--{{ token }}-->
<!--{{ userData | json }}-->
<app-modal-window></app-modal-window>
<router-outlet></router-outlet>
