.skillsContainer{
  display: inline-flex;
  width: 100%;
  .select{
    float: left;
    padding-bottom: .5em;
    width: max-content;
    display: contents;
  }
  .skill-box{
    margin-right: 1em;
    display: inline-flex;
    //float: left;
    .delete-button {
      cursor: pointer;
      display: inline-block;
      width: max-content;
      margin-left: .3em;
      color: red;
      transform: rotate(45deg) scale(1.2);
    }
  }
  input{
    width: calc(100% - 20px);
    border: none;
  }
}
.dropdown-list{
  border-radius: .25rem;
  position: absolute;
  display: block;
  background: white;
  border: 1px solid #ced4da;
  width: 100%;
  div{
    cursor: pointer;
    padding-left: 1em;
  }
  div:hover{
    background: rgba(156,156,156,0.38);
  }
}
