<div style="position:fixed;top:20px;min-width:200px;height:50%">
  <a routerLink="" class="m-3 font-sifonn" id="elinext-logo">
    <span style="color:white">ELI<span style="color:#EF0D33">N</span>EXT</span><span class="ml-1"
                                                                                     style="color: rgba(255, 255, 255, 0.4);">HR</span>
  </a>
  <div class="mt-4">
    <div class="menu-tab">
      <div class="left-element"></div>
      <div class="menu-tab-text d-flex flex-row p-1 ml-3">
        <div class="employees-img svg-image"></div>
        <div class="ml-2" style="font-size:14px">
          <a routerLink="/"><span class="font-sifonn">EMPLOYEES</span></a>
        </div>
      </div>
    </div>
    <div class="menu-tab">
      <div class="left-element"></div>
      <div class="menu-tab-text d-flex flex-row p-1 ml-3">
        <div class="svg-image projects-img"></div>
        <div class="ml-2" style="font-size:14px">
          <a routerLink="/ProjectsData"><span class="font-sifonn">PROJECTS</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="position:fixed;bottom:20px;min-width:200px; z-index:1">


  <div id="userMenuBlock" class="ddlist font-roboto" tabindex="1">
    <div class="left-element"></div>
    <div class="h-100 w-100 p-2">
      <div class="w-100 h-100 d-flex flex-row align-items-center justify-content-around">
        <div class="h-75">
          <span id="fullName">{{userData.firstName}} {{userData.lastName}}</span>
          <span id="userEmail">{{userData.userName}}</span>
        </div>
        <div class="settings-arrow" style="transform:rotate(-45deg)"></div>
      </div>
    </div>
    <div id="userMenu" class="menu-block" tabindex="2" style="visibility: hidden">
      <a routerLink="/ExpiredGoals" id="ExpiredGoals"><strong style='color: #1c39a8;'></strong> Expired goals</a>
      <a routerLink="/ExpiredNotifications" id="ExpiredNotifications"><strong style='color: #1c39a8; '></strong> Expired
        notifications</a>
      <a routerLink="/ErrorLog"> Error logs</a>
      <a routerLink="/InfoLog"> Info logs</a>
      <a routerLink="/Positions">Positions</a>
      <a routerLink="#" style="border-top : 1px solid #DFDFDF" (click)="logout()">Logout</a>
    </div>
  </div>
</div>
