/* You can add global styles to this file, and also import other style files */
@import "assets/css/TalentStyles-min.css";
@import "assets/css/TalentCSSHelper.css";
@import "assets/css/SvgImages.css";
@import "app/lib/dropzone/dropzone.css";
@import "assets/css/magicsuggest-min.css";
@import "assets/css/Elements/TalentDatePicker.css";
@import "assets/css/paginator.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
